[2016-05-24 09:03] Frezc opened #1 "Not found in npm. Is this component available in npm ?"

[2016-07-27 12:01] dmy3k opened #2 "Does not work on android"
`NativeModules.RNSnackbar` is undefined. Is android platform supported?

[2016-08-11 08:58] waqas19921 commented on #1
[code]

[2016-08-26 06:50] waqas19921 opened #3 "Not working"
Saying cannot read property show of undefined

[2016-10-06 10:59] aiserg commented on #3
For iOS:
1. `npm <thispackagename> --save`
2. `npm install rnpm -g`
3. `rnpm link <packagename>`
4. `react-native run-ios`

Works for me

[2016-10-06 11:14] Liroo commented on #3
This package has not been updated for a long time because we do not use anymore. We have our own snackbar js Version 🎉

[2016-10-06 11:18] aiserg commented on #3
@Liroo Will you put it in open source? =)

[2016-10-06 11:39] Liroo commented on #3
@aiserg Complicated to do, used with redux and not an overlay, juste an view over our own navigator at root.. Later I'm gonna look at the open source solution ;)

[2016-10-20 17:59] cooperka commented on #1
~~You can install using `npm install github:azendoo/react-native-snackbar` and it will pull the code from GitHub rather than npm. This works for me.~~

I've published several fixes to npm (via my [fork](https://github.com/cooperka/react-native-snackbar)). You should be able to install it now, and both android and iOS should be working!

Of course you'll still need to `react-native link react-nativ

[2016-10-20 19:33] cooperka commented on #3
Hi @waqas19921, please try again. I've published several fixes to npm (via my [fork](https://github.com/cooperka/react-native-snackbar)). Both android and iOS should be working now!

[2016-10-20 19:33] cooperka commented on #2
Hi @mitriy, this was a known problem that has been fixed. Please try again. I've published several fixes to npm (via my [fork](https://github.com/cooperka/react-native-snackbar)). Both android and iOS should be working now!

[2016-11-01 02:25] joncursi commented on #2
I am running into the same issue when trying to build the app for Android:

[code]

[2016-11-01 13:01] cooperka commented on #2
Hi @joncursi, make sure you've successfully run `npm install` and `react-native link react-native-snackbar` before building.

[2016-11-03 07:48] joncursi commented on #2
@cooperka I have done that:

[code]

But the build still fails with "No resource found" errors. I have tried linking via rnpm and via react native's own implementation, no luck.

Can we supplement the instructions on your fork with manual linking instructions? Something must not be connecting properly with RNPM that I need to tweak manually. I am on React Native 0.36.0

[2016-11-03 08:00] joncursi commented on #2
Perhaps this isn't an issue at the package layer and it's a lower level issue at the Android SDK layer.

[code]

Any ideas on why these Android UI variable lookups are failing? Do I need to install something specific in the Android SDK Manager to get this to work properly?

[2016-11-03 08:25] joncursi commented on #2
@cooperka I booted up Android Studio and it prompted me to update some SDK tools, as well as Gradle from 2.14.1 -> 2.2.2. After doing that, the project now compiles. I'm running into a few other issues, but they seem to be unrelated to this package, so I'm hoping that may have resolved it!

[2016-11-03 12:51] cooperka commented on #2
Nice, I'm glad you got it working!

[2016-11-13 02:12] lirbank commented on #2
I am having the exact same problem. I've upgraded Android Studio to no avail, @joncursi do you remember if there was anything else you did to get it to work?

[2016-12-07 15:42] #1 closed, assigned to nobody

[2016-12-07 15:43] #3 closed, assigned to nobody

[2016-12-09 01:21] iRoachie opened #6 "Snackbar text black on older devices"
The text for the Snackbar appears black on devices using android 4.4.

![screen shot 2016-12-08 at 9 18 45 pm](https://cloud.githubusercontent.com/assets/5962998/21034174/0058816c-bd8c-11e6-88e8-7f1bfdcbea3c.jpg)

Currently making this change to SnackbarModule.java to display it correctly.
[code]

[2016-12-10 13:22] cooperka commented on #6
Thanks for the report @iRoachie! If you're using Snackbar on pre-Lollipop devices you'll probably need to compile the design support library as suggested [here](http://android-developers.blogspot.com.es/2015/05/android-design-support-library.html). I'll label this as an "enhancement request" so we can add documentation. Please let me know if this works for you:

[code]

[2016-12-10 15:05] cooperka commented on #2
This issue was originally about a known problem that was resolved in `v0.2.0`. I'm going to close this since it's fixed, but @lirbank if you're still having trouble feel free to open a new issue!

[2016-12-10 15:05] #2 closed, assigned to nobody

[2016-12-10 23:08] iRoachie commented on #6
@cooperka Where do I add this? `android/app/build.gradle` ? All the examples show it for that file. But I'm not seeing any changes after adding it. The text still shows black

[2016-12-10 23:29] cooperka commented on #6
@iRoachie yes, `android/app/build.gradle` under `dependencies`. You should see several other `compile` statements written there already, just add this one as well.

[2016-12-10 23:34] iRoachie commented on #6
@cooperka It didn't change anything for me.

[2016-12-11 02:04] cooperka commented on #6
Hmm, you're right, and it's actually defined [here](https://github.com/cooperka/react-native-snackbar/blob/master/android/build.gradle#L25) in this library already. I'll have to look into this more. I'll give you an update here if I find anything -- hopefully your workaround works well enough for you until then.

[2016-12-11 13:16] iRoachie commented on #6
What we could do I guess is provide a colour property to the show method so users can show any colour they want.

[2016-12-15 11:47] vicmpen commented on #2
Hey everyone,

Came up with the same problem. Upgraded Gradle to 2.2.2 and SKD Tools to latest version and project compiled!

[2016-12-15 17:22] olimsaidov opened #7 "Build error: No resource found that matches the given name 'Animation.AppCompat.Dialog'."
I am getting error
[code]

I am using fresh react 0.39 project. Here is my app/build.gradle file:

[code]

What am I doing wrong?

[2016-12-15 19:11] cooperka commented on #7
Hi @olimsaidov, can you try upgrading your Gradle version? There are a few similar reports [here](https://github.com/cooperka/react-native-snackbar/issues/2) and upgrading has seemed to help. Please let us know if that fixes it or not! I'll update the README soon to suggest this if it works.

[2016-12-16 08:18] olimsaidov commented on #7
Upgrading gradle to 2.2.3 solved the issue. Thanks. Here is my android/build.gradle file:
[code]

[2016-12-16 08:18] #7 closed, assigned to nobody

[2016-12-16 11:58] cooperka commented on #7
Good to hear 😄 I'll make sure to update this project over the weekend to explain that, and perhaps also find a fix for it.

[2016-12-18 04:55] lirbank commented on #2
Yes, just had a chance to look at this again, and upgrading Gradle solves it. Thanks for the help!

[2016-12-20 18:17] hoolymama opened #8 "Add method to dismiss indefinite snackbar"
Hi, Is it possible to destroy an indefinite Snackbar?

I planned to have a snackbar show up for speech recognition with the word "listening" and close it when I get a finished event from the speech module.

[2016-12-20 18:47] cooperka commented on #8
This is a good suggestion, but to my knowledge it's not currently possible. Feel free to submit a PR for this! In the meantime could you try showing a second snackbar (with identical content) with `LENGTH_SHORT`? That should hide them both when it hides itself a short time later.

[2016-12-22 09:55] iRoachie commented on #6
@cooperka Decided yet?

[2016-12-22 14:30] cooperka commented on #6
@iRoachie if you submit a PR I'll happily review it :) This doesn't seem to be a heavily requested feature at the moment, so I've been focusing on a few other things first. I think the main thing that should be done is to fix the weird default color on older devices, but if you want to support changing the text color explicitly I think that's a good feature to add too.

[2016-12-22 17:02] iRoachie commented on #6
Alright will work on it! Thanks

[2016-12-29 23:19] #6 closed, assigned to nobody

[2016-12-30 13:07] cooperka opened #10 "Callback button causes crash [iOS 8.1]"
Seems to be fine on 10.1, but crashes on 8.1 as soon as you press the callback button on the snackbar.

Error:

[code]

I'm currently working on a fix.

Related to this, I'm also fixing the example project since it apparently no longer works on either Android or iOS (dependencies are too far out of date).

[2016-12-30 14:36] #10 closed, assigned to nobody

[2016-12-30 14:42] cooperka commented on #10
Resolved by passing null params as suggested in https://devdactic.com/objective-c-code-react-native/ and documented [here](https://facebook.github.io/react-native/docs/native-modules-ios.html#callbacks). Verified working with callbacks on iOS 8.1 and 10.1.

[2016-12-30 19:19] JulianKingman opened #11 "Displace action button/content instead of overlaying"
Material design recommends that the snackbar not overlay an action button, is it possible to do that with this package?

here: https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-usage

[2016-12-31 14:59] cooperka commented on #11
Hi @JulianKingman, thanks for the link. I agree we should follow this recommendation as closely as possible. Unfortunately there's no real way for us to know if the app has an action button or not, so we can't make it happen automatically, but I wonder if we could support some sort of redux event to broadcast how tall the snackbar is at any given point (or at least broadcast when it toggles visibl

[2017-01-09 04:30] iRoachie opened #12 "Compile issues since last update for COLOR [Android]"
Android 4.4.4 - API 19

[code]

[2017-01-09 04:32] iRoachie commented on #12
Error shows on Android 6.0 as well

[2017-01-09 14:40] cooperka commented on #12
@iRoachie I don't seem to have any errors on my devices, does this cause any problems for you? Does the app still work?

[2017-01-09 15:57] iRoachie commented on #12
Nope. The bug appears when building

[2017-01-10 00:54] iRoachie commented on #12
Okay I figured out what the problem was. I'm assuming it has something do with the Android Support Library an API 23. After I changed the build.grade to api > 23, it build correctly.

My settings:
compileSdkVersion 25
buildToolsVersion "25.0.2"

Original react native settings:
compileSdkVersion 23
buildToolsVersion "23.0.1"

[2017-01-10 14:27] #12 closed, assigned to nobody

[2017-01-19 15:34] JulianKingman commented on #11
What if you require manually adding the snackbar component, that way it could actually take up space on the layout, and be positioned in the right place for it?
For example:

[code]

[2017-01-19 16:17] cooperka commented on #11
@JulianKingman that's a good idea, but currently the Snackbar UI is implemented natively, so I don't think that would be possible without rewriting the whole thing in JS. That's something I want to do, but it's a big change and probably won't be done for a while!

We could add a dummy component that simply takes up space underneath the native Snackbar, but that's hacky and may not work very well i

[2017-02-01 18:13] manuga93 opened #14 "Build crash in Android"
Hi, I've done `npm install` and `react-native link react-native-snackbar` and I get this output:

`node_modules/react-native-snackbar/android/src/main/java/com/azendoo/reactnativesnackbar/SnackbarModule.java:70: error: package android.support.design.R does not exist
            TextView snackbarText = (TextView) snackbarView.findViewById(android.support.design.R.id.snackbar_text);`

I've tried wit

[2017-02-01 18:46] cooperka commented on #14
Hi @garridev, have you tried upgrading Gradle? What version are you on? https://github.com/cooperka/react-native-snackbar#notes

[2017-02-01 21:26] manuga93 commented on #14
Yes I will. This change allow me to build apk but get this other error
![captura de pantalla de 2017-02-01 22-23-55](https://cloud.githubusercontent.com/assets/7095548/22526922/8275ec0e-e8cd-11e6-83d1-5c2a229f9d9a.png)

[2017-02-01 21:56] cooperka commented on #14
Hmm, it's hard to tell if that's related to this module or not. Can you try removing `react-native-snackbar` and see if that fixes the error?

Unfortunately this error message doesn't really have any details that help narrow it down! You could also try searching Google for the error message.

[2017-02-01 22:39] manuga93 commented on #14
Thank you for your answers. Yes, without `react-native-snackbar` problems are solved.

 What's your gradle wrapper version?

[2017-02-01 23:25] cooperka commented on #14
https://github.com/facebook/react-native/issues/6035

Can you try disabling Chrome debugging, or maybe one of the other solutions suggested there?

[2017-02-01 23:28] cooperka commented on #14
Here's the link to the example app's gradle wrapper: https://github.com/cooperka/react-native-snackbar/blob/master/example/android/gradle/wrapper/gradle-wrapper.properties

[2017-02-09 16:57] cooperka commented on #14
@garridev any luck?

[2017-02-09 17:03] manuga93 commented on #14
yeah I just had to restart packager :)
Thank you

[2017-02-09 17:05] cooperka commented on #14
Haha, too easy! Good to know this was the fix.

[2017-02-09 17:05] #14 closed, assigned to nobody

[2017-02-28 05:29] saravanabalagi opened #15 "Feature: Displaying snackbar at the top/bottom of desired component"
It would be nice to have the snackbar displayed at the top/bottom of required components instead of displaying at the very bottom of the whole app. **This is especially useful if the app has tabBar at the bottom** or when the snackbar has to show on top (again not at the very top but at the top of the desired component)

---

Edit from maintainer:

A simple, generic way to accomplish this might be

[2017-02-28 13:44] cooperka commented on #15
This feature sounds similar in nature to https://github.com/cooperka/react-native-snackbar/issues/11; easy to do with plain JS, but hard to do natively. I would love to re-write this library to be completely JS and not require any linking, but I just haven't had the time quite yet. I'm very open to PRs though :)

[2017-03-20 15:46] SandroMachado opened #16 "Does not work with modals"
If I try to show a `Snackbar` in a `Modal`, the `Snackbar` will be displayed behind the modal and it will not be visible.

[2017-03-20 19:07] SandroMachado opened #18 "Change background color"
It is not possible to change the background color of the Snackbar.

[2017-03-22 00:55] #18 closed, assigned to nobody

[2017-03-31 16:37] iRoachie opened #21 "Add Flow / TypeScript?"
Are you interested in having typings, for those using react native with typescript? I've already started on it.

[2017-03-31 17:29] cooperka commented on #21
I've been wanting to add some sort of typings for a while now -- if you're up to the task, that would be great! The only caveat is that I would prefer to use Flow instead of TypeScript, partly because it's more popular in the React community, and also because of its type soundness.

Here's an explanation I really like that discusses some of the differences: https://discuss.reactjs.org/t/if-typescr

[2017-03-31 17:33] iRoachie commented on #21
Well sure, I actually have two projects using your library, one with flow and other typescript. Having both works for me :D

[2017-03-31 21:58] eddnav opened #22 "Compilation failed on iOS?"
I just followed the instructions, any idea why this could be happening? I fear maybe my `react-native` version may be too low (react `15.3.2`, react-native `0.35.0`.

[code]

[2017-04-01 22:51] cooperka commented on #22
Hmm, I've never seen this error before. Could you try cleaning your Xcode project and building again? You can also try using the [official example app](https://github.com/cooperka/react-native-snackbar/tree/master/example) with different settings to try to narrow down what the problem is, such as RN version. Let me know either way if you find a solution or if you run into more issues!

[2017-04-03 20:04] eddnav commented on #22
I think the problems I'm having are related to my react native version, I tried upgrading but I'm now running into more issues with the actual upgrade process, I'll close this issue for now, and let you know if I run into anything else related to this package.

[2017-04-03 20:04] #22 closed, assigned to nobody

[2017-04-04 14:55] cooperka commented on #21
Typescript has been merged; I'll keep this issue open for now until I get a chance to add Flow.

[2017-04-04 14:57] iRoachie commented on #21
I found the documentation around it kinda sketchy. If you have any useful links i'll be glad to do. Would we be submitting to the flow-typed [repo](https://github.com/flowtype/flow-typed) ? Is there a way to bundle it with the library?

[2017-04-04 19:25] cooperka commented on #21
It sounds like the library definitions you linked to are for libraries that don't already use flow; sort of like a way to add remote typedefs without forking the library. Seems weird to me, I don't want to do that haha.

I was thinking of just using basic syntax in the code: https://flow.org/en/docs/getting-started/

It also sounds like there's a command `flow gen-flow-files` that will auto-genera

[2017-04-04 19:27] iRoachie commented on #21
@cooperka Ooo alright then, that's simpler :D I'll take a knock at it after work

[2017-04-05 01:12] #16 closed, assigned to nobody

[2017-04-10 15:39] raynor85 opened #27 "Add onDismiss callback"
It would be useful to be able to hook a callback when the snackbar is dismissed, both for automatic dismiss (when duration reaches its end) and when the user opens another snackbar when the current one is active

[2017-04-10 15:58] cooperka commented on #27
Hi @raynor85, I'd certainly accept a PR for this! Out of curiosity, what do you need it for?

[2017-04-10 16:01] iRoachie commented on #27
For example: Add Event Modal,

Enter details -> press add -> show snackbar message "Event added" -> Close modal.

Currently for the close modal i'm using a setTimeout for the time i think the snackbar would last for.

![snackbar](https://cloud.githubusercontent.com/assets/5962998/24870784/6e54881e-1de5-11e7-899a-4f0e8503517f.gif)

[2017-04-10 16:24] cooperka commented on #27
Hmm, @iRoachie I think the standard behavior there would be to close the modal immediately and then show a snackbar to confirm it was submitted, rather than making the user wait.

Here are the official guidelines: https://material.io/guidelines/components/snackbars-toasts.html

[2017-04-10 16:28] iRoachie commented on #27
The guidelines don't actually say anything about implementation, but i'll still take your suggestion. I still think it'd be a good thing to have. Like if you want to give the user time to read something, before navigating away.

[2017-04-12 00:38] #21 closed, assigned to nobody

[2017-04-13 15:52] cooperka commented on #27
No response from @raynor85 so I will close this for now. Happy to re-open if there are good use cases for it, but I'd rather not add complexity if it's not needed.

[2017-04-13 15:52] #27 closed, assigned to nobody

[2017-04-13 16:07] raynor85 commented on #27
Well the use cases can be multiple. For example think about an UNDO
snackbar. You would be able to hook up an action (like a server request to
save a resource) only when the snackbar is dismissed. If you press on undo,
you just update the UI without dispatching an action.

On 13 April 2017 at 16:52, Kevin Cooper <notifications@github.com> wrote:

[2017-04-13 18:05] cooperka commented on #27
That does seem useful in theory -- but what if the user clicks the button, sees the "Action has been performed" snackbar, and immediately kills the app? Then the action will never actually have been performed, even though you told the user it was.

It seems like needing a feature like this is a code smell, and it could lead to bad practice. Anecdotally, it also doesn't appear to be supported by Go

[2017-04-13 18:14] iRoachie commented on #27
@cooperka callback for snackbars was added since api 23. http://stackoverflow.com/a/33076569/1862272

[2017-04-13 18:15] raynor85 commented on #27
Up to you man, I think it is always good to provide callbacks in general,
and give powers to developers, instead that not doing so. In this case I
needed to hook up actions for my use case and not having a callback leaded
me to use another snackbar component. PS: Google doesn't own the holy
grail, and angular is just an example of that :D

On 13 April 2017 at 19:05, Kevin Cooper <notifications@git

[2017-04-13 18:52] cooperka commented on #27
@iRoachie thanks for the link! That's good to know. My knowledge seems to be outdated ;)

Again, I'm happy to merge a PR if someone makes one 🍹

[2017-04-13 18:53] iRoachie commented on #27
lol i'm not the best android programmer, but I'll give it a go

[2017-04-13 18:57] cooperka commented on #27
If you do, I think I'd prefer to follow the [latest API's `addCallback`](https://developer.android.com/reference/android/support/design/widget/BaseTransientBottomBar.html#addCallback(android.support.design.widget.BaseTransientBottomBar.BaseCallback<B>)) (and of course fall back for earlier SDKs).

[2017-04-20 14:11] ayazhussein opened #28 "Snackbar goes offscreen with modals/back button [Android]"
[code]
It does show on IOS but it doesnt on Android...
using
[code]

@cooperka

[2017-04-20 14:27] cooperka commented on #28
Hmm, I haven't tested this yet but I'm guessing the snackbar gets attached to the current scene and goes offscreen along with the scene as it gets popped. Thanks for the bug report! I'll see what can be done.

I think the best solution would be to find the real root view that everything is nested under and show the snackbar on that one, instead of the current activity's view. Hopefully this is pos

[2017-04-20 14:27] cooperka commented on #28
## Official workaround:

In the meantime, I'd suggest just adding a `setTimeout` before showing the snackbar so it gets attached to the scene below instead of the scene being popped.

[2017-04-20 14:28] iRoachie commented on #28
I've been using the setTimeout method for dismissing modals too. Works great. Currently have it set at 200ms

[2017-04-20 14:29] ayazhussein commented on #28
I don't know if it's a bug or it's on my end but if I call Snackbar.show() directly after closing a modal, it doesn't show but if I close the modal and do a network call and then show Snackbar on the response, it does show...

[2017-04-20 14:30] ayazhussein commented on #28
although on IOS does work :D, the bug is only on android...

[2017-04-20 14:35] iRoachie commented on #28
This is what i'm doing. I have the parent showing the snackbar instead.

![snackbar modals](https://cloud.githubusercontent.com/assets/5962998/25235986/b5e1d818-25b4-11e7-8f97-f47c2980c389.gif)

[code]

[2017-04-20 15:07] cooperka commented on #28
@ayazhussein it's definitely a bug; the snackbar appears on the modal that you just dismissed when really it should be appearing on top of everything irrespective of what's currently on top of the stack. `setTimeout` is a decent workaround, but I'll try to fix this in the library soon.

[2017-04-28 09:02] samridhgupta commented on #8
Any update about the same enhancement

[2017-04-28 14:49] cooperka commented on #8
@samridhgupta no update, but please feel free to submit a PR if you'd like this feature :) I don't have much use for it in my own app, so it's not being prioritized.

I think a good method name would be `Snackbar.dismiss()`.

[2017-04-28 14:53] iRoachie commented on #8
A temporary workaround solution could be to present a Modal with the `transparent` prop. Show the Snackbar in that modal, then when you're done, you can dismiss the modal

[2017-04-28 14:57] cooperka commented on #8
@iRoachie if you're going to the effort to do all that, why not just submit a real PR? 😜

[2017-04-28 14:58] iRoachie commented on #8
Lool haha. Well I actually don't need it for any use case, so the priority isn't there 😝. Thats a suggestion for the other guys

[2017-05-08 11:34] Jazz747 opened #29 "Undefined not an object (_reactNative.nativeModules.RNSnackbar,.LENGTH.LONG_"
![screenshot_2017-05-08-11-56-20-544_hr aduro midway](https://cloud.githubusercontent.com/assets/12306271/25800301/ffa8f8b8-33e8-11e7-9ce7-603e47fadb97.png)

On app start, crashes a few seconds later
RN 0.42.3, linked, error appears when putting the import statement in JS

[2017-05-08 13:39] ghost commented on #29
Same with mine too.

[2017-05-08 17:14] cooperka commented on #29
Hmm, it works for me on that version, both iOS and Android. Have you
rebuilt and restarted your packager after linking? Try clearing all your
caches and building your app from scratch just in case.

E.g. clean absolutely everything then `react-native run-android`.

[2017-05-08 17:20] ghost commented on #29
Ok, i would do that

[2017-05-09 13:20] Jazz747 commented on #29
The problem still persists after cleaning the project in Android studio, deleting node_modules and doing `npm install`.

I've recently upgraded to RN 0.42.3 from 0.38, getting
`npm WARN react-native@0.42.3 requires a peer of react@~15.4.1 but none was installed.`
installed the aforementioned version of React, warning still persists but everything works. Don't know if that has anything to do with t

[2017-05-09 13:28] iRoachie commented on #29
This looks like a link error. @Jazz747 After you `npm install`, run `react-native link react-native-snackbar` then start your packager and build the app

[2017-05-09 13:34] Jazz747 commented on #29
I did, result:
`Cannot parse yarn version: 0.27
Scanning 467 folders for symlinks in /home/username/Projects/project/node_modules (2ms)`
`rnpm-install info Android module react-native-snackbar is already linked `
`rnpm-install info iOS module react-native-snackbar is already linked `

Manual install instructions would be helpful, I see the snackbar inclusion in `settings.gradle` and `app/build.gra

[2017-05-09 13:40] iRoachie commented on #29
Yes it should be in `MainApplication.java`

[code]

[2017-05-09 13:53] Jazz747 commented on #29
Yep, that fixed it :)

I've had multiple problems in the past with linking of libraries, had to do it manually, so it would be cool if there were manual installation instructions on the main page also. Cheers!

[2017-05-09 13:54] iRoachie commented on #29
@Jazz747 Awesome! If you could send a PR with the manual steps i'm sure @cooperka wouldn't mind.

[2017-05-10 13:58] Jazz747 commented on #29
I'm somewhat unfamiliair on how to create pull requests since I'm new to Github, so I'll just make it here, in hopes that @cooperka can paste it into the description section if he wants to.

In `android/settings.gradle`:
[code]

In `android/app/build.gradle`:

[code]
In `MainApplication.java`:

[code]

[2017-05-10 14:18] iRoachie commented on #29
@Jazz747 Made a video showing you how!  https://www.useloom.com/share/3f9227d502a54ff3b049e8b2d5fc1327

[2017-05-10 18:49] Jazz747 commented on #29
Wow man, my own personal instructional video :D I thought I had to git pull the entire project, make changes there and push. This is totally easy :) appreciate the effort, doing it now ;)

[2017-05-10 18:49] #29 closed, assigned to nobody

[2017-05-18 10:11] Jazz747 opened #32 "Programatic title string? "undefined is not an object (evaluating this.state)"
When trying to set string in state as the title (`this.state.string: 'Hello'`), I'm getting the aforementioned error. Is this something not supported or the issue is on my side?

I'm setting it as:

[code]

[2017-05-18 11:33] iRoachie commented on #32
This is an error on your side @Jazz747 . This error happens when you're try to assess this.state but it's being called from another closure

[2017-05-22 20:39] iRoachie commented on #11
If you're using [react-native-material-ui](https://github.com/xotahal/react-native-material-ui)'s ActionButton, I just sent in a pr that implements this. https://github.com/xotahal/react-native-material-ui/pull/144

[2017-05-23 23:32] cooperka commented on #11
@iRoachie that's a neat workaround, but I don't think that's the right way to go about it. What about exporting a `SnackbarAvoidingView` component that does the exact same thing, but from this library? Then it's generalizable and can be used by anyone for anything, not just that specific library.

Slightly modified from the original suggestion above, it could be used like:

[code]

or as a HOC:

[

[2017-05-23 23:42] cooperka commented on #32
Were you able to resolve this @Jazz747? Please let us know if you're still having issues.

[2017-05-23 23:42] #32 closed, assigned to nobody

[2017-05-24 00:01] iRoachie commented on #11
@cooperka We'd still need a way, to notify the view when the snackbar is showing as well as the duration, and height, etc. so I'm not seeing any difference. Am I missing something?

[2017-05-24 00:31] cooperka commented on #11
The difference is that `SnackbarAvoidingView` is the one that animates its height, rather than `ActionButton`. So instead of needing to send a PR to every library that has a component that might want to animate away from a snackbar, we can just export a wrapper from **this** library and anyone can use it.

[2017-05-24 00:31] iRoachie commented on #11
Ah gotcha 👍

[2017-05-26 18:23] iRoachie commented on #11
@cooperka Fresh off the press. https://github.com/iRoachie/react-native-snackbar-avoiding-view

[2017-05-27 00:22] cooperka commented on #11
Hey, nice work!

Would you mind also submitting a PR to add that as a dependency to this library, and simply export it (so people don't need to install both modules separately)? Seems like it would be common enough to want both. It's cool that your module can be used as a standalone too.

[2017-05-27 00:24] cooperka commented on #11
I wonder if we could also hook it up to (optionally) **automatically** call `avoidSnackbar()` during `Snackbar.show()`. That would be awesome.

[2017-05-27 11:15] iRoachie commented on #11
@cooperka that sounds good actually, just wondering. Is an ActionButton the only use case that the snackbar avoids?

[2017-05-30 00:15] cooperka commented on #11
Anything with the same z-index as the snackbar should move to avoid it, per material design specs (because in real life, things can't occupy the same space). The only other thing defined to have the same z-index (6) is the FAB: https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android

So yes, that's pretty much the only thing you need to worry about

[2017-06-03 17:23] iRoachie commented on #11
@cooperka Soo my method behind doing that is to pass a ref to the SnackbarAvoidView into the options for `Snackbar.show`, getting a red warning that I have no idea how to fix.

Invalid data message - all must be length 11

[code]

[2017-06-03 17:50] cooperka commented on #11
@iRoachie try cleaning all caches and starting fresh. I got that message before when running mismatched versions of React Native (one in JS and a different one in native code).

[2017-06-03 22:28] sandropoluan opened #34 "Error when try to import react-native-snackbar"
"undefined is not an object (evaluating '_reactNative.NativeModules.RNSnackbar.LENGTH_LONG')"

on React Native 0.44.0

[2017-06-03 23:09] sandropoluan commented on #34
I think the problem because I forgot running the "react-native link react-native-snackbar"

But after running it, I got another error when try to "run-android"

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-snackbar:prepareComAndroidSupportAppcompatV72510Library'.

[2017-06-03 23:31] sandropoluan commented on #34
fixed after upgrading buildToolsVersion to "25.0.3"

[2017-06-04 03:28] cooperka commented on #34
Glad you solved it :) please let me know if you need any more help.

[2017-06-04 03:28] #34 closed, assigned to nobody

[2017-06-21 15:55] cooperka commented on #11
@iRoachie did you end up getting it to work?

[2017-06-21 15:56] iRoachie commented on #11
@cooperka Sorry about that, went on the backlog for a bit. Will knock up something between now and weekend

[2017-07-04 00:43] bkvirendra opened #36 "PodSpec file not found"
Installed the latest version of the react-native-snackbar lib, then I added the pod specific code in the Podfile: `pod 'RNSnackbar', :path =>'../node_modules/react-native-snackbar'`

On executing the `pod install` command I'm getting the following error:

[code]

After looking into the package dir itself, I found that the pod specific file was not created on `npm install`. I installed the lib usin

[2017-07-05 16:37] cooperka commented on #36
Fixed in v0.3.8, thanks for letting me know @bkvirendra!

[2017-07-05 16:37] #36 closed, assigned to nobody

[2017-07-07 06:59] kenpaxtonlim opened #37 "Compile error on Android"
Hi, I try to run react-native run-android after implementing your module and I received the following error.

[code]

Do you know anyway to solve this?

[2017-07-07 15:25] cooperka commented on #37
Hi @kenpaxtonlim, can you make sure you've followed the rest of the linking steps as well? Sometimes the automatic linker doesn't work fully: https://github.com/cooperka/react-native-snackbar/wiki/Manual-Installation.

[2017-07-10 12:43] Den368 commented on #37
The automatic linker doesn't work properly, I have added the dependencies by myself:
`dependencies {
    ...
    compile project(':react-native-snackbar')
}`

However, when I am trying to run the project there is an error:
[code]

[2017-07-10 15:30] cooperka commented on #37
@Den368 it's possible you're targeting too low of an Android version. Have you tried upgrading Gradle and `compileSdkVersion` as suggested [here](https://github.com/cooperka/react-native-snackbar#notes)?

[2017-07-11 02:25] ryancoughlin opened #38 "Accept style object as prop"
You don't currently support sending a style as a prop to Snackbar do you?

[2017-07-11 02:29] ryancoughlin commented on #38
Seeing this now:

Ah ha, assuming you'll want to stick to those guidelines and not stray into custom fonts.

[2017-07-11 04:43] kenpaxtonlim commented on #37
I tried manual linking and I got this error subsequently while compling:

[code]

If i uninstall and unlink the module my app can compile and run normally.

[2017-07-11 14:47] cooperka commented on #37
@kenpaxtonlim have you followed the same suggestion as above to upgrade Grade and `compileSdkVersion`?

[2017-07-11 15:15] cooperka commented on #38
I'd consider it if you submit a PR :) But eventually I'd like to go pure JS rather than native, in which case styling will be much easier to support.

[2017-07-13 07:29] kenpaxtonlim commented on #37
@cooperka I tried upgrading my gradle and it works. Thank you!

[2017-07-13 17:11] cooperka commented on #37
Good to hear! 🎉

[2017-07-13 17:11] #37 closed, assigned to nobody

[2017-07-26 04:51] cooperka commented on #8
Added in https://github.com/cooperka/react-native-snackbar/pull/35.

[2017-07-26 04:51] #8 closed, assigned to nobody

[2017-08-03 11:50] sywka opened #39 "[Android] Compability with React Native 0.47"
See: [facebook/react-native@ce6fb33](https://github.com/facebook/react-native/commit/ce6fb337a146e6f261f2afb564aa19363774a7a8)

[2017-08-04 01:08] cooperka commented on #39
Hi @sywka, would you mind updating [`SnackbarPackage`](https://github.com/cooperka/react-native-snackbar/blob/master/android/src/main/java/com/azendoo/reactnativesnackbar/SnackbarPackage.java) to fix this? I'm quite busy this week but I'd happily review a PR.

[2017-08-04 04:53] #39 closed, assigned to nobody

[2017-08-04 05:01] cooperka commented on #39
Published in [v0.4.1](https://github.com/cooperka/react-native-snackbar/releases/tag/v0.4.1). Thanks!

[2017-08-10 16:47] MichaelPintos opened #41 "Application crash API < 19 ?"

[2017-08-11 18:04] cooperka commented on #41
Hi @MichaelPintos, I'd love to be able to help but you haven't provided me with enough information. Which API? Which device? Which version of React Native? What's the error message? Help me help you. Closing for now.

[2017-08-11 18:04] #41 closed, assigned to nobody

[2017-08-14 16:57] GROL opened #42 "How to hide snackbar ?"
Hi,

If snackbar is shown with duration LENGTH_INDEFINITE, then user should be able to cancel it by swiping or clicking the close button.
How to implement that?

Thanks

[2017-08-15 16:35] cooperka commented on #42
Hi @GROL, you can use the `Snackbar.dismiss()` method to hide the Snackbar at any time. There's currently no way to detect swipes, however.

[2017-08-18 06:55] gokul-kulkarni opened #43 "Cannot read property 'LENGTH_LONG' of undefined"
When I try to include and run I get the following error,

![screen shot 2017-08-18 at 12 24 20 pm](https://user-images.githubusercontent.com/6063899/29447616-537e53ee-8410-11e7-9623-77607768d83d.png)

[2017-08-18 12:15] cooperka commented on #43
Hi @gokulkulkarni1987, this means that the Snackbar object itself is undefined. Please make sure you've run `react-native link react-native-snackbar` successfully, then rebuild your app using `react-native run-ios` or `react-native run-android`.

[2017-08-21 05:20] gokul-kulkarni commented on #43
@cooperka I am very new to React Native, so I do not know when `react-native link react-native-snackbar` will be successful.

I ran `react-native link react-native-snackbar` and also tried this [link](https://github.com/cooperka/react-native-snackbar/wiki/Manual-Installation) But still it did not work.

[2017-08-21 10:10] cooperka commented on #43
Could you try running the [example app](https://github.com/cooperka/react-native-snackbar/tree/master/example) and see if you spot any differences?

Here's my successful output for `react-native link`:

[code]

[2017-08-21 12:36] gokul-kulkarni commented on #43
The example does work, I check my config with the config in this example and keep you posted.

[2017-08-21 13:57] SitCode1993 opened #44 "Snackbar accessibility label."
Hi,

I just realized that the snacker does not accept that accessibilityLabel option, I think it would be nice to have them accepting this

[2017-08-21 16:02] cooperka commented on #44
Hi @SitCode1993, thanks for bringing this up. It's a bit messy to pass accessibility labels through to native code, but if you send a PR I will gladly accept it!

I would hope Android has good support for this since it's a native Android snackbar, and it should be fairly straightforward to add on the iOS view as well.

[2017-08-31 08:43] gokul-kulkarni commented on #43
hi @cooperka thanks it worked. I had issue with react-native version, after updating to latest version it did work. Thanks for your support.

[2017-08-31 08:43] #43 closed, assigned to nobody

[2017-09-12 23:51] mattferrin commented on #43
Same problem using react-native 0.48.3 version and react-native-snackbar 0.4.1 version. Not sure how to resolve it as of yet...

[2017-09-13 01:10] cooperka commented on #43
Hi @mattferrin, this error generally means the library wasn't linked properly or React Native can't find it. Can you please clear all your caches and try once more? Often something small gets in the way and the only solution is starting over.

[2017-09-18 05:23] ravirupareliya commented on #16
Is it resolved? or we need to go with the bug?

[2017-09-18 12:02] cooperka commented on #16
Hi @ravirupareliya, this should have been fixed in #17. Are you still experiencing this bug?

[2017-10-04 05:19] GarimaMathur07 opened #46 "Set Line Height when title is of 2 Lines"
@cooperka How to give space between 2 lines when title is having one line above text.

Can we set Line Height between text 'Great' and Second Line 'Hello, world...'.
![device-2017-10-04-104608](https://user-images.githubusercontent.com/7220882/31160931-b061261c-a8f1-11e7-9d15-8e69893ef970.png)

[2017-10-04 12:11] MahmoodAhmed01 opened #47 "Change text color, button background, etc."
How to change the color of title. There is no reference in documentation.

[2017-10-18 14:48] mahomahoxd commented on #28
Is this being fixed? I'm having the same issue with closing the modal (I think the animation is taking long so the snackbar shows on the closed modal). I fixed it by the setTimeout function, although it doesn't feel as clean as it should be. I might be able to take a look if you can point me where I should look

[2017-10-18 23:58] dantman opened #48 "libRNSnackbar.a was built for newer iOS version (9.1) than being linked (8.0)"
This warning is showing up:
[code]

It looks like the podspec's target is 8.0 but the xcode project's settings are 9.1.

[2017-10-19 00:05] cooperka commented on #48
Many RN projects still target a minimum of iOS 8.0, so I think I'll keep it this way. The warning seems to just be letting you know the minimum versions are inconsistent. I assume if you want to, you can link using `react-native link` instead of cocoapods to avoid this warning.

I'll close this, but thanks for the report. Let me know if this warning ends up causing any issues for you.

[2017-10-19 00:07] cooperka commented on #46
Hi @GarimaMathur07, currently this isn't possible but I'd love to support this. It may be easier once this library moves to pure JS instead of native code. Feel free to submit a PR in the meantime!

[2017-10-19 00:07] #46 closed, assigned to nobody

[2017-10-19 00:08] dantman commented on #48
@cooperka No, **my** project's target is `8.0`. This warning is happening because **react-native-snackbar**'s target is `9.1`. I **am** using `react-native link`. I just made a note that react-native-snackbar's cocoapods target is `8.0` so the cocoapods users won't see this warning, but `react-native link` users like me will.

https://github.com/cooperka/react-native-snackbar/blob/master/ios/RNSna

[2017-10-19 00:09] cooperka commented on #47
Hi @MahmoodAhmed01, not all customizations are currently possible but I'd certainly accept a PR if you want to add more features. Thanks!

UPDATE:
- Text color can now be set as of #101
- Font can now be set as of #117

Other things that have been suggested -- I'm open to PRs:
- Change font size
- Change action button background color

[2017-10-19 00:10] #42 closed, assigned to nobody

[2017-10-19 00:11] #38 closed, assigned to nobody

[2017-10-19 00:14] cooperka commented on #28
Thanks for the offer @mahomahoxd -- support for modals was added in https://github.com/cooperka/react-native-snackbar/pull/17 and this is a remaining bug that hasn't been addressed yet. If you could help I'd really appreciate it; that PR would be a good place to start looking. Cheers.

[2017-10-19 00:17] cooperka commented on #48
I see, thanks for clarifying. This should definitely be updated. Feel free to submit a PR, otherwise I'll get to it within the next few days.

[2017-10-21 16:37] wulfy opened #49 "'React/RCTBridgeModule.h' file not found while building"
Hello,

I'm trying to run my app with react-native-snackbar' (react-native run-ios) and got this error (during building phase):
[code]

I'm using react-native 0.48 and snackbar 0.4.2.
I followed installation instruction (yarn add and react-native link which successfully ended)
My application succeed to build without snackbar module.

What am I doing wrong? :x

tx !

[2017-10-21 21:18] cooperka commented on #49
Hmm, errors like this happen sometimes with React Native. It's likely not caused by this library itself, but more likely due to files being recompiled by Xcode. I suggest trying to clean everything and building again from scratch. Let me know if the problem persists!

[2017-10-22 12:38] wulfy commented on #49
thank you for your answer @cooperka .
I deleted all the project and clone + build a fresh project from scratch.

I keep having the same error message :(
I will check with the rest of the team if someone did something custom with pods configuration which can lead to a problem like this ...

I managed to build the project only one time by doing "react-native upgrade" which reset some files like Xcod

[2017-10-22 13:21] cooperka commented on #49
You could try checking out an earlier version of your codebase, e.g. from a week ago when you know it did compile successfully. Then try installing `react-native-snackbar` onto that version.

If it works, you can use a tool like [`git bisect`](https://git-scm.com/docs/git-bisect) to figure out when things broke.

[2017-10-23 08:21] wulfy commented on #49
@cooperka I finally found my mistake.
I'm a dumb, sorry :(
I forgot that we switch to cocoa pods to install new libs in our projects and I forgot that I should rebuild all pods when adding one (not just doing pod install after adding a lib).

Everything is working now, thank you and again for your advices + sorry for the fake issue :(

[2017-10-23 12:07] cooperka commented on #49
No worries @wulfy, glad you found the solution :+1:

[2017-10-23 12:07] #49 closed, assigned to nobody

[2017-10-24 06:33] gokul-kulkarni commented on #43
Hi @cooperka I have upgraded my react-native version to 0.49.3 and I have started the getting the issue yet again. :(

Please find below the output of link,

[code]

please help me out.

[2017-10-25 01:35] cooperka commented on #43
Hmm, I upgraded the example app to RN v0.49 and it all still seems to be working for me.

It's likely still a cache issue; try cleaning everything, including Xcode derived data, watchman, and the React Packager. I run into these sorts of issues occasionally, most often because Xcode is storing all sorts of derived data in various places. You can search online for ways of cleaning it up (unfortunat

[2017-10-25 01:54] cooperka commented on #48
Published in v0.4.3. Thanks again for the report; this project was inherited from a previous team so some of the configs like this may have been non-standard. Hopefully this is the last one!

[2017-10-25 01:54] #48 closed, assigned to nobody

[2017-10-25 01:59] cooperka commented on #44
By the way @SitCode1993, have you seen this PR? https://github.com/cooperka/react-native-snackbar/pull/45

It hard-coded the `accessibilityIdentifier` to `"snackbar"`; this may be enough for most people. Let me know if there's a particular use-case you still want to be supported. Thanks!

[2017-10-25 01:59] #44 closed, assigned to nobody

[2017-10-25 04:00] dantman commented on #44
@cooperka `accessibilityIdentifier` and `accessibilityLabel` are two different things. The former is an id that doesn't actually have much to do with accessibility. The later is text that gets read to the user.

[2017-10-26 01:40] cooperka commented on #44
Thanks @dantman. I tested the Snackbar using the iOS Accessibility Inspector and it seems to read the text displayed on the Snackbar as expected (and also correctly treats the action button as a button).

I'd certainly accept a PR allowing customization of the accessibility label, but I'll leave this issue closed as it's unlikely to be done.

[2017-10-27 03:45] mattferrin commented on #43
Tried everything, didn't work. But it works in fresh new project. Another one of those instances where the only fix is to create new project and then copy over, install, and link everything from scratch... Not the first time; not the last time.

[2017-11-07 21:37] dantman opened #50 "Future React Native breakage"
This warning is showing up in the log in Xcode.

[RCTModuleData.mm:69] Module RNSnackbar requires main queue setup since it overrides `constantsToExport` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.

[2017-11-08 21:01] nclsjstnn commented on #43
i'm having this issue when i'm running the tests. i've done everything but nothing seems to work.
i'm on the last version of react-native (v0.50)

pls help

[2017-11-09 00:21] mattferrin commented on #43
By the way, I created a new project and copied everything over, installed, and linked everything from scratch. It didn't work :) haha.

[2017-11-15 14:59] #50 closed, assigned to nobody

[2017-11-29 09:59] ravirupareliya opened #52 "Support for windows mobile platform?"
Does it support windows mobile platform? If not, does there any plan to add that support?

[2017-11-29 14:00] cooperka commented on #52
Hi @ravirupareliya, I wasn't aware that React Native has any plans at all to support Windows Mobile. Officially it seems to only support Android and iOS. Can you send me any links related to this?

[2017-11-30 11:10] ravirupareliya commented on #52
There is no official link related to it, but all the default control from react-native is giving support in windows mobile platform. Still i am not sure how far will i go with this, but i have to give support for windows mobile platform also with react-native.

[2017-12-05 11:10] chetankotkar opened #53 "npm install not working"
installation stuck at
[          ........] | extract:fsevents: sill extract react-native-snackbar@0.4.4

[2017-12-05 18:47] cooperka commented on #53
That's very strange, could you clean and try again? At least `rm -rf node_modules`. You could also try [Yarn](https://yarnpkg.com/en/docs/getting-started) instead of npm.

[2017-12-05 18:52] cooperka commented on #52
My recommendation would be to ignore Windows Mobile; according to recent data they only make up [0.3% of the market share](https://www.theverge.com/2017/2/16/14634656/android-ios-market-share-blackberry-2016) and it's getting smaller every year.

If you have an easy way to add support I'd consider accepting a PR, but I'm going to close this issue for now. Cheers!

[2017-12-05 18:52] #52 closed, assigned to nobody

[2017-12-19 11:07] pavanmehta91 commented on #53
same issue. Tried removing the node_modules too.

[2017-12-19 13:49] cooperka commented on #53
@pavanmehta91 have you tried using Yarn, and also cleaning other things e.g. `yarn cache clean`?

[2017-12-19 13:49] cooperka commented on #53
@chetankotkar were you ever able to resolve this issue?

[2017-12-19 17:05] pavanmehta91 commented on #53
I could install it with npm only. :)

[2017-12-21 04:44] chetankotkar commented on #53
@cooperka  npm with **--no-optional** helped me. perhaps I dont know what are optional dependencies.

[2017-12-21 14:53] cooperka commented on #53
Thanks for the tip, @chetankotkar! Glad you both got it working.

Some libraries include [optional dependencies](https://docs.npmjs.com/files/package.json#optionaldependencies), of which `fsevents` is often one. It isn't supported by many Linux OSes so it's simply ignored. I'm not sure if that's part of the reason here.

Note: I can install `react-native-snackbar` just fine on Ubuntu.

[2017-12-21 14:53] #53 closed, assigned to nobody

[2017-12-22 11:29] rizwanahmed19 opened #55 "Error while building for Android"
This is the error I'm getting when I run `react-native run-android`
[code]

[2017-12-22 15:42] cooperka commented on #55
Hi @rizwanahmed19, make sure you've run `react-native link` successfully and then try cleaning all caches. If that doesn't work, try out the included [example app](https://github.com/cooperka/react-native-snackbar/tree/master/example) and see if that works on your machine. Let me know if you get it working!

[2017-12-26 14:21] haseebnaseem commented on #29
I am having the same problem on iOS. Any help ?

[2017-12-26 23:47] cooperka commented on #29
@haseebnaseem have you tried the solutions suggested above? There are several things which could be wrong, usually fixed by cleaning all your caches and starting fresh.

[2017-12-27 15:38] haseebnaseem commented on #29
@cooperka yes I have tried. Nothing works.

[2017-12-27 15:55] cooperka commented on #29
@haseebnaseem Are you able to install and run the example app?

[2017-12-28 06:00] haseebnaseem commented on #29
@cooperka `fatal error: 'React/RCTBridgeModule.h' file not found` when trying to build the example app.

[2017-12-28 16:35] cooperka commented on #29
Hmm, is it possible you have some custom configuration on your machine? Do other projects work for you? Make sure you've run `yarn cache clean` before `yarn install`. I'm not really sure what could be going on for you, sorry :confused:

[2017-12-31 18:38] Noitidart opened #56 "Native on Android and JS on ios?"
Hi there I was trying to learn about this module. Does it use a native snack bar component (is there one?) on Andoid? And if iOS it does a js polyfill?

Thanks for this superb module.

[2017-12-31 19:59] cooperka commented on #56
Hi @Noitidart, welcome and thank you for the kind words! Yes, it uses the native Snackbar component on Android, and it uses a custom native view on iOS (in order to appear on top of your app without adding an explicit React component for it). Let me know if you have any other questions.

[2017-12-31 19:59] #56 closed, assigned to nobody

[2017-12-31 20:18] Noitidart commented on #56
Thank you sir! This is superb news!! I love native modules! Thanks also for remembering me from your other modules haha. You make some awesome stuff I am tryign to learn native modules and will hopefully join your ranks. :) Im not a java or objc/swift guy but I think i can do this, I hope I can, I really really enjoy native modules.

[2018-01-01 18:17] cooperka commented on #56
Java and objc/swift are all very learnable languages! Happy coding and maybe you'll be making some nice PRs here someday soon ;)

[2018-01-02 14:52] Ashwin-Mothilal opened #57 "How to change text color for the title."

[2018-01-02 23:29] cooperka commented on #57
Hi @Ashwin-Mothilal, that's not currently possible, but I would be happy to review a PR for it.

Dupe: https://github.com/cooperka/react-native-snackbar/issues/47

[2018-01-02 23:29] #57 closed, assigned to nobody

[2018-01-03 21:17] rizwanahmed19 commented on #55
The problem is that `react-native link` is not working properly, it's skipping the part where it has to add
[code]
to `android/app/build.gradle`. So I manually added the above code to build.gradle and it worked fine

[2018-01-03 21:18] #55 closed, assigned to nobody

[2018-01-27 07:24] shubhnik opened #60 "react-native-snackbar error while updating react-native"
I ran `react-native-git-upgrade` and this error occurs:
![screen shot 2018-01-27 at 12 42 37 pm](https://user-images.githubusercontent.com/9150371/35469686-bbd628ac-0360-11e8-82f5-af2e95b215a1.png)

Anyone had encountered this error?

[2018-01-28 20:59] davidbilik commented on #29
I had the same problem on iOS, I ran the `react-native link` command that said everything is correctly linked, but the truth was that nothing was linked :D I had to do manual linking as described here https://facebook.github.io/react-native/docs/linking-libraries-ios.html and then its working beautifully

[2018-01-29 22:23] cooperka commented on #60
Hi @shubhnik, I've seen this before with other libraries, and resolved it using `yarn cache clean` then trying again. I'm not sure what causes it, something with the Yarn cache or registry. Let me know if that works for you!

[2018-01-29 22:23] #60 closed, assigned to nobody

[2018-01-30 12:04] uragecz opened #61 "PaddingBottom on iPhone X"
There should be paddingBottom on iPhone X ...
<img width="353" alt="screen shot 2018-01-30 at 13 03 41" src="https://user-images.githubusercontent.com/15018124/35565490-0805d696-05be-11e8-8be0-51ee6588ac99.png">

[2018-01-30 15:38] cooperka commented on #61
Thanks for the report @uragecz. Do you mind submitting a PR?

[2018-02-06 11:27] karimkhamwani opened #62 "Support for right-to-left (RTL) layout"

[2018-02-06 16:16] cooperka commented on #62
I haven't tested it but I imagine it's not yet supported. The code is quite simple, please feel free to submit a PR!

[2018-02-09 12:20] aMarCruz commented on #11
@cooperka , if you expose onShow and onHide events this issue have an easy solution.
Anyway, your lib is a great work, thanks.

[2018-02-09 15:05] cooperka commented on #11
Hmm, that's an interesting idea @aMarCruz. It seems like there might be some delay using events though, which could look janky (if your FAB rises up 100 ms after the snackbar appears).

It would be a decent temporary solution and I'm happy to accept a PR for it!

[2018-02-10 21:32] aMarCruz commented on #11
@cooperka , Unfortunately I don't have enough experience on Android and know nothing about iOS, but will try to make something about this.

[2018-02-10 21:38] cooperka commented on #11
The event could be fired from JS, no native code needed. Have a look at [src/index.js show()](https://github.com/cooperka/react-native-snackbar/blob/master@{2018-02-09}/src/index.js#L32).

[2018-02-10 21:47] aMarCruz commented on #11
mmm... I'm thinking about the native "onDismiss" method of Snackbar.Callback to catch dismiss events, it works without CoordinatorLayout, by anyway I'll make a try. Thanks.

[2018-02-10 21:53] dantman commented on #11
`Animated.event` with `useNativeDriver: true` on events like `onScroll` can handle event animations entirely natively. I wonder if it's possible for libraries to define their own events that do the same.

Then we could fire some sort of `onSnackbarOffsetChange` on every frame while the snackbar is sliding in or out, and as long as transform and `useNativeDriver` are used on whatever else is being

[2018-02-10 23:02] cooperka commented on #11
@dantman nice suggestion, that method would be ideal if anyone is up for implementing it.

[2018-02-10 23:58] dantman commented on #11
The Snackbar's class on Android doesn't seem to have animation information, so perhaps we'll have to trick CoordinatorLayout to giving us the information we need. Possibly using  CoordinatorLayout.Behavior#onApplyWindowInsets if that works.

[2018-02-15 13:54] alainib commented on #43
i got this error on IOS only

"react": "^16.2.0",
"react-native": "^0.52.0"

I linked the package

      $react-native link react-native-snackbar
      Scanning folders for symlinks in ........../node_modules (31ms)
      rnpm-install info Android module react-native-snackbar is already linked
      rnpm-install info iOS module react-native-snackbar is already linked

If i `import Snackbar from 'r

[2018-02-15 14:07] cooperka commented on #43
Hmm, it looks like linking must have failed somehow even though it says it worked. This seems to happen to some people; try the manual linking solution here: https://github.com/cooperka/react-native-snackbar/issues/29#issuecomment-361095452

[2018-02-15 14:15] alainib commented on #43
thanks @cooperka manually link remove the error ( https://facebook.github.io/react-native/docs/linking-libraries-ios.html )

[2018-02-19 16:38] gregoiredumas opened #63 "Crash when repeatedly tapping the action button"

[2018-02-19 16:40] cooperka commented on #63
Interesting. Generally, the action button will cause the snackbar to be dismissed; does this require tapping it repeatedly before it goes offscreen?

[2018-02-19 16:49] gregoiredumas commented on #63
It does get dismissed on first tap, as expected. But if you tap twice or more before it goes offscreen than that will cause a crash.

[2018-02-19 17:42] cooperka commented on #63
Thank you for the report @gregoiredumas. I likely won't have time to fix this but I welcome PRs.

[2018-02-20 14:01] gregoiredumas commented on #63
@cooperka this should fix it #64
Inspired from: https://github.com/JonasWho/react-native-kontaktio/commit/a6962edfb5f9ff08f087ceb5074aa4f81203c652

[2018-02-20 14:56] #63 closed, assigned to nobody

[2018-02-22 14:25] #61 closed, assigned to nobody

[2018-02-22 15:08] Noitidart opened #66 "Flush against bottom"
The material guidelines is saying that on Android the snackbar should be flush against the bottom of the screen like this:

- https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-usage

They shows this video:

https://storage.googleapis.com/material-design/publish/material_v_12/assets/0B6Okdz75tqQsZV9TS3lTVHFzRUE/components-snackbar-usage-fabdo-005.webm

Is it possible

[2018-02-22 15:33] cooperka commented on #66
Hi @Noitidart, this library uses the actual Android [Snackbar](https://developer.android.com/reference/android/support/design/widget/Snackbar.html) component so it should be up to spec. Do you have a screenshot showing the issue you're experiencing? It seems flush to me, just like in the video.

Note that on Android if you show a Snackbar on top of a modal, the Snackbar may be flush with the botto

[2018-02-22 15:36] Noitidart commented on #66
Thanks so so much for such a fast reply!! I actually am getting NullPointer exception when installing:

[code]

 So this was more of a premptive question. I'm sure ill solve this NullPointer in just a bit.

Ah that's awesome it's flush against! When does it decide to be flush against or floating?

The material guidellines here show that we should be doing both depending on the situation:

https://

[2018-02-22 15:39] cooperka commented on #66
I'm glad you like it :smile:

This snackbar should never be floating, it will always be flush against the bottom of whatever screen you showed it on. So if your app is full screen, it will be flush against the bottom.

[2018-02-22 15:39] Noitidart commented on #66
Oh also what led to this question, was in the readme, the snackbar was floating - https://github.com/cooperka/react-native-snackbar#react-native-snackbar

[2018-02-22 15:40] cooperka commented on #66
Ah, I see. That image was taken directly from the [guide](https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-usage) you linked to, it's not floating, just has padding around the image to make it look nicer.

[2018-02-22 15:42] Noitidart commented on #66
Ohhhh!!! Hahaha! So funny!

Oh I see in that guide they are saying for "2 or more actions", use a "dialog". And "dialog" is not a snackbar ah I see. Thanks very much for such a fast discussion. Do you know if there is a native dialog module which is similar to your methodology of using the actual Android SDK rather then rolling their own (in js or in native)?

![](https://screenshotscdn.firefoxuse

[2018-02-22 15:43] cooperka commented on #66
Have you tried [`Alert`](https://facebook.github.io/react-native/docs/alert.html)?

[2018-02-22 15:44] Noitidart commented on #66
Ah yes I tried that, but these dialogs are like transient (with option for permanent) toasts - but with snackbar-like buttons it seems.

[2018-02-22 15:46] Noitidart commented on #66
Ohhh waiiiit I think I'm totally wrong here. Totally sorry. I have such a better understanding now thanks to you. That's a "Don't Picture"!! Oh my gosh thanks for bearing through with me with your time and leaving this topic open.

[2018-02-22 15:46] #66 closed, assigned to nobody

[2018-02-22 15:48] cooperka commented on #66
Happy to help, let me know if anything else comes up!

[2018-02-22 18:58] Noitidart commented on #27
Dang this is something i need to. I use redux-saga, and in redux-saga we need to do `yield put` which we can't do from onPress as it is not a generator. So what we do is turn it into a promise:

[code]

Without the dismiss I end up hanging on a promise forever. I'm doing a work around for now with not using indefinite.
:(

[2018-02-22 21:51] cooperka commented on #27
@Noitidart instead of `yield put`, try passing `dispatch` into your saga so you can call `dispatch` directly in `onPress`. I used this same pattern in a few of my apps and it works quite well.

Assuming you have a root saga, do something like this while configuring your redux store:

[code]

And then pass `dispatch` from your root saga into any other saga that needs to use it.

[2018-02-22 22:46] Noitidart commented on #27
Ooo thanks I didn't think of that!

I would need still need 2 dispatches though. One for if pressed action item. One for if dismissed. :(

[2018-02-22 22:51] cooperka commented on #27
Generally when showing an "undo" button you should perform the regular action immediately, notify the user with the snackbar, and if they press "undo" then you reverse the action. No dismiss callback should be needed. See my comment [above](https://github.com/cooperka/react-native-snackbar/issues/27#issuecomment-293977389) for reasoning.

[2018-02-22 22:52] Noitidart commented on #27
Ah thanks so much you really helped me learn a lot today. UI, UX and even redux-saga!! I'll do it this way then :)

[2018-02-24 15:12] xemasiv opened #67 "Snackbar not showing when called from a Promise.then()?"
Below code works:

[code]

But this one where I use promises doesn't:

* It allows the user to log-in w/ Facebook
* Snackbar supposed to show on the part where we've logged in
* The `console log` for `hey1` and `hey2` gets called, but Snackbar doesn't show

[code]

Any clues on what's going on with this behavior? I've tried looking in the closed issues but haven't found anything similar :100: Than

[2018-02-24 17:00] cooperka commented on #67
Is it possible the snackbar is being shown on a modal, and the modal is then immediately dismissed (or the app navigates to a new route)? In some cases on Android, the snackbar gets attached to a different screen and isn't visible (like #28).

Otherwise, do you mind giving me a link to a working example app?

[2018-02-25 08:06] xemasiv commented on #67
I think you're right, I tested a regular promises and timeouts and boy it works.

That button actually triggers a Facebook log-in, hence their screen overlay of their loading screen and log-in screen kinda takes over for some time then just disappears. I think this library's current behavior is quite prone to unpredictability on the way it depends on an existing screen / modal to attach to.

Would

[2018-02-25 09:32] #67 closed, assigned to nobody

[2018-02-25 15:48] cooperka commented on #67
Thanks for the update @xemasiv, glad you found a workaround! I'd love to make it more robust; if you ever feel like making a PR I'm glad to accept one.

[2018-03-19 11:00] antsmo opened #68 "Crashing when triggering again with the same action object"
## Description

I've created a lookup with some configs defined for different notifications and one button to show each one. It works fine until I tap the same button a second time and then I get an error message about the background color (see below).

I should add that this is from a completely fresh React Native project.

## Example

[code]

![simulator screen shot - iphone 6 - 2018-03-19 at 10

[2018-03-19 13:49] cooperka commented on #68
Hi @MyGuySi, that's very strange! I wonder if it's related to re-using the same config object? Can you try the following:

[code]

Please let me know if this changes anything. Otherwise, if you could link to a working example app I'd like to try it myself. Thanks.

[2018-03-19 14:59] TimTruston opened #69 "Support for multiple snackbars (cascading)"
Is it possible to modify this library such that new snacks are inserted below the previous ones (if the previous ones have not timed out). Similar to how react native displays errors and warnings...
Would this be a feature you would be willing to incorporate?

[2018-03-19 16:25] cooperka commented on #69
Hi @TechyTimo, unfortunately this would not be possible. This lib uses the native Android [Snackbar](https://developer.android.com/reference/android/support/design/widget/Snackbar.html) which has specific [design guidelines](https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-usage) recommending against this behavior. It's recommended that multiple Snackbars should que

[2018-03-19 19:16] emersonmoura commented on #43
![image](https://user-images.githubusercontent.com/5419868/37616961-52262efe-2b90-11e8-9e03-dab958e75282.png)
In Android the same error...
I did everything that is described here and in the documentation, but the error continues

 "react-native": "0.51.0"
"react-native-snackbar": "^0.4.6",

![image](https://user-images.githubusercontent.com/5419868/37617065-b3afcfcc-2b90-11e8-83f5-0b5aa66f76e4.png

[2018-03-19 19:43] cooperka commented on #43
Hi @emersonmoura, have you tried manually linking?

[2018-03-19 19:58] TimTruston commented on #69
Makes sense. Thanks for sharing the link.

[2018-03-19 20:11] #69 closed, assigned to nobody

[2018-03-19 20:27] emersonmoura commented on #43
Hi @cooperka,
Yes...
I checked each file and the "link" was correct

Any hints of the exact reason? This way I can investigate better.

[2018-03-19 21:45] cooperka commented on #43
Hmm, it's strange that it says "unmet peer dependency react-native@0.51.0" in your second screenshot. This lib requires `>=0.40` so it's definitely satisfied.

Have you tried installing with Yarn instead of npm?

[2018-03-19 22:17] emersonmoura commented on #43
I also found it strange...

Yes, I tried with Yarn. Result: Same red screen

[2018-03-20 01:32] emersonmoura commented on #43
![image](https://user-images.githubusercontent.com/5419868/37630838-6f72a016-2bc5-11e8-81dc-ab5f27c51881.png)

[2018-03-20 14:10] cooperka commented on #43
As a last resort, you could try starting with the official [example app](https://github.com/cooperka/react-native-snackbar/tree/master/example) and progressively make it similar to your own app and see where it breaks.

[2018-03-20 16:07] antsmo commented on #68
Hi @cooperka, yep I tried out your suggestion and that does indeed fix it 🤔

[2018-03-20 17:11] emersonmoura commented on #43
![image](https://user-images.githubusercontent.com/5419868/37670552-5c8ed504-2c48-11e8-9f94-04ac2b982005.png)

Tried starting with the official example...

Is there a problem with my machine? I use the "elementary Os"

[2018-03-21 16:48] Noitidart opened #70 "Android only - Possible to respect bottom bar?"
Hi there,

Thanks for this module I have been absolutely loving it!!

However I had an issue please. In my Android only version, The proper way for snackbar to respect bottom bar is to show above it. Like this article here shows - https://android.jlelse.eu/scroll-your-bottom-navigation-view-away-with-10-lines-of-code-346f1ed40e9e#2514

I have installed native `CollapsibleToolbarLayout` component f

[2018-03-21 22:58] cooperka commented on #68
Thank you for confirming! This bug should certainly be fixed, but luckily it's rare and easily worked around. I'd welcome a PR to address it if you have the time.

[2018-03-21 23:01] cooperka commented on #43
It could very well be related to your OS. If the example app doesn't work, something larger is likely wrong. Please post back if you find a solution!

[2018-03-21 23:09] cooperka commented on #70
Hi @Noitidart, thanks again for the feedback! I'm going to mark this as a duplicate of https://github.com/cooperka/react-native-snackbar/issues/15. I'd love to support this eventually but it's not feasible with the current implementation.

If you really want to accomplish this, you could try pushing a transparent modal on top of the current view (with the bottom of the modal positioned at the top

[2018-03-21 23:09] #70 closed, assigned to nobody

[2018-03-21 23:17] Noitidart commented on #70
Thanks cooperka :)

This guy in this article says the right way to do it is to use `CoordinatedLayout` - https://android.jlelse.eu/scroll-your-bottom-navigation-view-away-with-10-lines-of-code-346f1ed40e9e#2514

So maybe if someone can just wrap a CoordinatedLayout around it, then this module doesnt need any edits. That's what I'm thinking. I think the native snackbar automatically respects coordi

[2018-03-21 23:19] Noitidart commented on #15
Nooo complete js please! hahah

The native part is the most awesome part! I think it can easily be supported natively with `CoordinatedLayout` as this guy demonstrates - https://android.jlelse.eu/scroll-your-bottom-navigation-view-away-with-10-lines-of-code-346f1ed40e9e#2514

[2018-03-21 23:22] cooperka commented on #70
It looks like that would be easy to do with a native Android app, but I don't know offhand how to get a view ID from JS into Java (`snackbarLayout.layoutParams.anchorId = child.id` in the article you linked to). I'd be very happy if someone solved this and submitted a PR!

[2018-03-21 23:22] Noitidart commented on #15
The native snackbar also respects the native FAB - https://guides.codepath.com/android/Handling-Scrolls-with-CoordinatorLayout#responding-to-scroll-events - pretty please no pure js haha

[2018-03-21 23:24] Noitidart commented on #70
Oh that's pretty simple.
I just learned it the other day when I was using the native android `UIManager.showPopupMenu` that is exposed in RN.

We use `findNodeHandle` on a `ref`.

    import { findNodeHandle, UIManager } from 'react-native'

I use it like this - https://github.com/Noitidart/react-native-popup-menu-android/blob/master/src/index.android.js#L15

[2018-03-21 23:24] cooperka commented on #15
Both could be supported at once -- it's not either/or :slightly_smiling_face: There are advantages to each.

[2018-03-21 23:25] Noitidart commented on #70
I'm not a native guy so I can't figure out what to do with things like findNodeHandle unless I see others doing it. I'm hoping by sharing it others can figure this out and be like man this is easy haha :D

[2018-03-22 06:41] antsmo commented on #68
I'm not using react-native-snackbar in any of my projects currently, it was more of a research exercise so I may not be able to submit a PR straight away but if we decide to use it then I'll definitely take a stab at it 👍

[2018-04-03 10:54] har2008preet opened #71 "not able to import snackbar"
I am getting the following error on importing snackbar after installing and linking the library,

[code]

[2018-04-03 10:57] #71 closed, assigned to nobody

[2018-04-11 14:46] karimkhamwani commented on #62
not supported. please release asap

[2018-04-11 15:36] cooperka commented on #62
Hi @karimkhamwani, I'm an independent developer who created this library in my own spare time and released it to you for free. Your request comes off as insistent rather than constructive, which doesn't exactly inspire me to work for you.

If you'd like to help contribute this feature, I'd be happy to merge a pull request and release it. That's what the open-source community is all about! Let me k

[2018-04-13 09:30] ripern opened #72 "Update to Android API version 27"
As you mention in the README some people get problem building their project (if using newer Android API versions) when using react-native-snackbar. Is it fine to update to 27? I was also considering updating android gradle plugin to 3.1.0 but not sure if that could break things for people, please advise. I'll send a PR for the first part.

[2018-04-14 02:32] cooperka commented on #72
Hi @ripern, the comment in the README actually means the opposite I think -- if your own app's config uses an SDK version less than 25, it could cause issues. Updating your own app to SDK 25 or higher is the solution. I'm not sure a PR is needed. Let me know if you have any issues though!

[2018-05-08 15:08] egemon commented on #29
@cooperka meet the same issue. Please add reference to the bottom of the readme in the top. Updating gradle helped me, but I first read all these threads about this error, before finding real solution at the bottom of readme.

[2018-05-10 07:23] Pliman opened #74 "NativeModules.RNSnackbar.LENGTH_LONG - Cannot read property 'LENGTH_LONG' of undefined"
Hello, when I am writing a 'Hello world' example according to readme, I got this error
"Cannot read property 'LENGTH_LONG' of undefined"
I think it's because this expression: "LENGTH_LONG: NativeModules.RNSnackbar.LENGTH_LONG,", which in src/index.js

I used "expo": "^27.0.1" with react native version 0.55.2
I imported react-native-snackbar this way:
import * as SnackBar from 'react-native-snackba

[2018-05-10 07:29] Pliman commented on #74
When debug app, I add
console.log(_reactNative.NativeModules.RNSnackbar)
after
var _reactNative = require('react-native');
in lib/index.js

_reactNative.NativeModules.RNSnackbar is undefined, so when to set RNSnackbar on _reactNative.NativeModules?

[2018-05-10 08:02] Pliman commented on #74
link information:

Scanning folders for symlinks in /data/projects/{xxx}/node_modules (17ms)

[2018-05-10 18:37] jpmoyn opened #75 "Warning when calling show function"
I get a warning when I call this show function:

[code]

The snackbar does not show, and I get this warning:

`TypeError: undefined is not a function (near '...Snackbar.show...')`

I am running from xcode, in a typescript RN app running on an iPad simulator.

Does anyone know how to fix this?

[2018-05-11 09:58] Noitidart opened #76 "Supposed to push up native floating action button?"
On Android:

I'm using a native floating action button from here - https://github.com/adbayb/react-native-android-kit

Using position absolute, i position by FAB at bottom of screen.

When the native snackbar shows, I thought it would push the native floating action button up to accomadate. Is it possible to make it work like this?

[2018-05-11 14:21] andyngdz commented on #43
If you are using Pods. Go to ios folder then pod install.
![screen shot 2018-05-11 at 9 20 38 pm](https://user-images.githubusercontent.com/10527554/39929043-3576b7e2-5561-11e8-971a-05177350b48e.png)

[2018-05-17 09:59] johakr opened #77 "Compatibility with react-native-navigation modals on android"
Hi,

first of all, thanks for this awesome library.

I noticed that the snackbars won't show on android in modals if one uses react-native-navigation. Imho, this is due to the fact, that react-native modals are rendered in the view hiearchy of the current activity, but react-native-navigation modals aren't (as they are internally `Dialogs`). Therefore, they are not found by the current implementat

[2018-05-17 10:11] johakr opened #78 "Snackbar rendering behind keyboard on iOS"
Hi,

on iOS the snackbar always renders on the bottom behind the keyboard if keyboard is open. Is this intended behavior / a known limitation?

[2018-05-18 08:33] Grandmac commented on #74
Maybe it's because you don't re-run react-native run-ios or run-android after linking the package

[2018-05-18 21:45] melihcaliskan opened #79 "Support for textColor & View inside Snackbar"
Hello,
As you can see on the screenshoot, Google now uses **black text** and a **button** next to it.
Do you have a chance to add these features?
Thank you,  I’d really appreciate it.
Screenshoot : https://i.imgur.com/dvgSOMC.png

[2018-05-19 16:58] cooperka commented on #72
Closing due to inactivity. Happy to re-open if needed.

[2018-05-19 16:58] #72 closed, assigned to nobody

[2018-05-19 17:05] cooperka commented on #75
Hi @jpmoyn, this seems potentially similar to https://github.com/cooperka/react-native-snackbar/issues/43. Can you give those suggestions a try? Let me know if you're still having issues.

[2018-05-19 17:05] #75 closed, assigned to nobody

[2018-05-19 17:06] cooperka commented on #74
Hi @Pliman, this seems potentially similar to https://github.com/cooperka/react-native-snackbar/issues/43. Can you give those suggestions a try? Let me know if you're still having issues.

I'm also not sure if this will work with Expo -- I thought Expo doesn't support native libraries? I could be wrong.

[2018-05-19 17:06] #74 closed, assigned to nobody

[2018-05-19 17:08] cooperka commented on #76
No, unfortunately Android doesn't automatically move components like that, even if they're both native. See issue https://github.com/cooperka/react-native-snackbar/issues/11 for more details.

[2018-05-19 17:08] #76 closed, assigned to nobody

[2018-05-19 17:10] cooperka commented on #77
Thank you @johakr! Permalink to commit: https://github.com/johakr/react-native-snackbar/commit/c1d485d3e3ab8b7b608adc97dc0636264472e10f.

If anyone is willing to make a more general PR for this I'd be happy to merge.

[2018-05-19 17:13] cooperka commented on #78
Hi @johakr, this is not intended behavior and should be fixed. It should be possible to account for the keyboard height. I'm happy to accept a PR for this.

[2018-05-19 17:17] cooperka commented on #79
Hi @melihcaliskan, you can already change the background color, but not the text color. It's being tracked by issue https://github.com/cooperka/react-native-snackbar/issues/47. Thanks!

[2018-05-19 17:17] #79 closed, assigned to nobody

[2018-05-19 17:19] cooperka commented on #77
Also see https://github.com/cooperka/react-native-snackbar/issues/28 for a similar issue.

[2018-05-19 23:45] ripern commented on #72
Sorry for late response. I think you are right that the best way of handling this is to override the version of the shared dependency in one's own app config. I misunderstood the README comment apparently.

[2018-05-20 02:34] cooperka commented on #72
It's all good. I updated the README to make it a bit more clear. Hope it's working for you.

[2018-06-05 13:36] loverdeveloper opened #80 "Error :react-native-snackbar:incrementalReleaseJavaCompilationSafeguard"
Hi guys , today i run (react-native run-android) command then i get error
:react-native-snackbar:incrementalReleaseJavaCompilationSafeguard FAILED
What is the solution ?

[2018-06-05 15:53] #80 closed, assigned to nobody

[2018-06-05 16:54] cooperka commented on #80
Hi @ikosar, looks like you figured it out yourself -- was there any particular solution, or just one of those weird things that resolves itself?

[2018-06-09 10:32] loverdeveloper commented on #80
Hi @cooperka  , it's just one of those weird things that resolves itself!

[2018-06-19 17:14] kundan1301 opened #81 "Calling setstate doesn't show snackbar."
Calling setstate doesn't show snackbar.
[code]
Above code doesn't show snackbar. But Below code show snackbar
[code]

[2018-06-20 09:35] kundan1301 commented on #81
This works as well
[code]

[2018-06-20 16:02] cooperka commented on #81
Hi @kundan1301, that's very strange. Are there any routes or screens that are added or removed based on the state (such as a modal that pops up)?

If you could link to a working example app that would help me diagnose the issue. Feel free to fork and edit the [official example app](https://github.com/cooperka/react-native-snackbar/tree/master/example) if that's easier.

[2018-06-21 06:10] kundan1301 commented on #81
Hello @cooperka, Yes I am adding a modal to show loader.  Once network call is completed `const res = await Utils.verifyOtp(code);   // this is network call
`, I am trying to show error or success in snackbar.

[2018-06-29 01:37] cooperka commented on #81
Unfortunately, that won't currently work -- see https://github.com/cooperka/react-native-snackbar/issues/28 for details.

The snackbar attaches itself to the top screen, and if that screen is a modal, the snackbar will go away along with the modal. Whether this Android behavior is a "bug" or a "feature" depends on who you ask 😉

For now, you could either show the loading indicator using something

[2018-06-29 01:37] #81 closed, assigned to nobody

[2018-06-29 01:38] cooperka commented on #81
Closing as duplicate of #28; feel free to reply on either issue if you have any questions. Thanks!

[2018-07-06 14:05] davidka95 opened #82 "Crashing on Android"
Hi,

Sometimes on Huawei p8 lite, I got this error:

[code]

I only use this method:

[code]

Do you have any idea what the cause of the error is?

### Environment

- Compile SDK Version: 27
- react 16.3.1
- react-native 0.55.4
- react-native-snackbar 0.4.7

[2018-07-10 13:05] carloscuesta commented on #16
Can confirm that I'm still experiencing this bug when using the `Snackbar` with a `react-native` `Modal` on Android.

The render of the Snackbar goes away with modal.

[2018-07-13 19:14] jdrorrer commented on #78
@johakr one fix could be to `import { Keyboard } from 'react-native'` and call `Keyboard.dismiss()` when a certain event handler is called. Here's more info: https://facebook.github.io/react-native/docs/keyboard.html

[2018-07-17 18:17] SrinivasanSelvam commented on #12
I have got the same error.

How to change sdk version?
Guide me where is that option in Android stuido

[2018-07-17 18:18] iRoachie commented on #12
It's a file `android/app/build.gradle`

[2018-07-20 16:03] nicomontanari opened #83 "Issues after upgrading to React-Native v0.56"
This is my error:
<img width="531" alt="schermata 2018-07-20 alle 18 02 33" src="https://user-images.githubusercontent.com/15747776/43012706-2bbcc5ee-8c47-11e8-85be-161337b7be2c.png">

There may be other issues related to the changes in v0.56.

[2018-07-20 16:44] cooperka commented on #83
Hi @nicomontanari98, thanks for the report.

It looks like there are a lot of [breaking changes](https://github.com/facebook/react-native/releases/tag/v0.56.0) in the 0.56 release. If anyone can test and verify what changes are needed, I'm happy to verify and merge PRs. Probably an SDK bump at the least.

[2018-07-21 01:55] cooperka commented on #82
Hmm, if you could determine reliable reproduction steps, that would help get to the bottom of the issue.

From the error it seems like react native is trying to read a string but it's getting a non-string. Is your `message` variable ever null?

[2018-07-26 12:23] russelarms commented on #83
I have snackbar running after changing lines in build.gradle to
`implementation project(':react-native-snackbar')`
Not sure if it's the case though.

[2018-08-01 17:55] abartolo commented on #83
@cooperka The following changes have been working for all other projects. https://github.com/luggit/react-native-config/pull/248/files/d2ce3192d1eaa0df592f1c7abbb904a2bc75e98d

I changed the build.gradle file in './node_modules/react-native-snackbar' and my build passed the error @nicomontanari98  mentioned. However, I have yet been able to test as I am seeing similar issues with other libraries I

[2018-08-02 17:38] ntwigs commented on #43
I had this issue on **Android** and did the following to solve it:
- Linked the Snackbar `react-native link react-native-snackbar`
 - Changed the **distributionUrl** in the file `android/gradle/wrapper/gradle-wrapper.properties` into:
    - `https\://services.gradle.org/distributions/gradle-4.4-all.zip`
- Changed the **buildscript dependency** in the file `android/build.gradle` into:
    - `classp

[2018-08-11 16:12] iRoachie opened #84 "Snackbars on iPad span the entire screen width"
Hey been using your package for a while.

One concern I have is that Snackbars on iPad are full width compared to on Android where they only take up the required space.

Android:
![kapture 2018-08-11 at 12 09 00](https://user-images.githubusercontent.com/5962998/43993691-ae6ca062-9d5f-11e8-9eb6-6b050214ddc3.gif)

iOS:
![kapture 2018-08-11 at 12 10 03](https://user-images.githubusercontent.com/5962

[2018-08-11 17:17] cooperka commented on #84
Thanks for the report @iRoachie. I'm guessing this would be a simple fix by setting some sort of max width on iOS. Happy to accept PRs!

[2018-08-11 17:21] iRoachie commented on #84
I don't mind doing it all, how would we get the width of the content?

[2018-08-12 16:15] cooperka commented on #84
I didn't personally write the iOS implementation but I'm guessing one or both of these lines are what determines the width:

- https://github.com/cooperka/react-native-snackbar/blob/master@{2018-08-11}/ios/RNSnackBarView.m#L144
- https://github.com/cooperka/react-native-snackbar/blob/master@{2018-08-11}/ios/RNSnackBarView.m#L72

You might need to dig into the iOS UI APIs a bit to figure out what n

[2018-08-15 16:27] abartolo commented on #83
@cooperka I just created a PR https://github.com/cooperka/react-native-snackbar/pull/85 on the discussed changes above.

[2018-08-15 18:51] #83 closed, assigned to nobody

[2018-08-19 15:06] ghost commented on #43
I got the same issue on **iOS**. I already linked it manually
(https://facebook.github.io/react-native/docs/linking-libraries-ios.html).
But still got the error.
<img width="398" alt="screen shot 2018-08-19 at 10 00 54 pm" src="https://user-images.githubusercontent.com/5009491/44310169-e7731d80-a3fb-11e8-872e-5dc6864be25f.png">

[2018-08-28 07:40] hmlund commented on #16
Hi, any updates on this? I'm having the same issue. It works with modals on ios, but not on android. I am using React Native Navigation as navigation.

[2018-08-28 22:23] murat-mehmet commented on #77
How can I use this commit in my project? Modifications in node_modules are lost easily. Could you drop it in npm to be installed please, because I'm having the same problem and need this fix. Thanks for this great lib!

[2018-08-30 05:13] johakr commented on #77
@CoderProject You can install the fork directly from github, no need for npm. Just update your package.json to `"react-native-snackbar": "johakr/react-native-snackbar"`

[2018-08-30 12:46] theSupermacy opened #87 "Unable to build the application"
After manually adding the dependency (following the guidelines). I am getting error while running command react-native run-android

`
Failed to find Build Tools revision 26.1.0
`

I don't think android has Build Tools revision 26.1.0 . I have installed all the revision from 26 to 27. I have also updated my  **compileSdkVersion** to **26** and **buildToolsVersion** to **26.0.3**. Please see towards

[2018-08-30 14:58] wbercx commented on #87
Just ran into this as well.

[2018-09-04 10:48] theSupermacy commented on #87
I have given the [PR](https://github.com/cooperka/react-native-snackbar/pull/88).

[2018-09-04 21:24] #87 closed, assigned to nobody

[2018-09-11 11:44] efstathiosntonas commented on #43
@itanhduy If you are using Pods. Go to ios folder then pod install.

^^ this should definitely go into README. Thanks for pointing out.

[2018-09-11 18:23] cooperka commented on #43
The manual installation guide is [here](https://github.com/cooperka/react-native-snackbar/wiki/Manual-Installation), linked from the README. Feel free to edit the wiki if it needs improvement! Thanks.

[2018-09-28 04:07] cooperka commented on #82
Closing due to inactivity, but feel free to reply here if you have more info.

[2018-09-28 04:07] #82 closed, assigned to nobody

[2018-10-05 20:38] artus9033 opened #90 "Android compilation error: Execution failed for task ':app:transformClassesWithMultidexlistForDebug'"
Hello! I've installed the package & linked it via npm, but it didn't do the job, so I edited the build scripts manually. After that, everything starts to compile, but it fails on

throwing the following error:

I'm using node v10.11.0, react v16.3.2, react-native v0.55.3 and react-native-snackbar v0.5.2.

I'm attaching the full compilation log (obtained by running gradlew with the --scan option):

[2018-10-06 00:04] cooperka commented on #90
Hmm, the full error suggests that `Program type already present: android.support.design.widget.CoordinatorLayout` might be the problem.

[code]

Is it possible you're trying to compile multiple different versions of the same support library? You might need to make sure all support libraries included by your app are consistent. But I've never seen this error before, input from others would be appre

[2018-10-09 09:49] Balasnest opened #92 "React/RCTBridgeModule.h file not found"
When attempting to build and run for ios, the below error is recieved. I have attempted both react-native link and manually linking the node module. The error persists
[code]

[2018-10-10 14:16] chocky335 commented on #82
@davidka95 looks like you're passing not string to title property.

[2018-10-10 14:34] chocky335 opened #93 "Android: Fatal Exception"
It only happens on ANDROID 8

Crashlytics log:
[code]

can't reproduce by myself but it time-to-time happens with our users...

[2018-10-10 18:45] cooperka commented on #92
Hi @Balasnest, sorry you're having difficulties. Can you please link to an example app with repro steps? Unfortunately there's not much I can help with unless I have more information.

[2018-10-11 07:30] Balasnest commented on #92
Thanks for your reply. Resolved it by removing node_modules and installing again.

[2018-10-11 07:30] #92 closed, assigned to nobody

[2018-10-25 18:16] cooperka commented on #93
Closed by https://github.com/cooperka/react-native-snackbar/pull/94

[2018-10-25 18:16] #93 closed, assigned to nobody

[2018-11-03 09:02] apoorv-1310 opened #95 "(0 , _customSnackBar.default) is not a function on making a global function"
[code]

import ShowSnackBar from "../../../utils/UI/customSnackBar";
ShowSnackBar("hii")

[2018-11-03 14:14] cooperka commented on #95
Hi @apoorv-1310, can you please post a link to an example app with repro steps so I can test this myself? I've never seen this type of error before and it might be related to other libs you have installed. Thanks!

[2018-11-14 04:14] mzafer commented on #90
Am seeing the same error. Below is the trace. I get this error only on including this project, otherwise the app builds fine.

* What went wrong:
Execution failed for task ':app:transformClassesWithMultidexlistForDebug'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution fai

[2018-11-14 04:17] mzafer commented on #90
Additional information from the build logs is below and my versions are "react": "16.3.1", "react-native": "^0.55.3", "react-native-snackbar": "^0.5.3",

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html
WARNING: The s

[2018-11-14 04:50] cooperka commented on #90
Hi @mzafer, can you link to a working example app to show off this issue? I don't think I'll be able to diagnose it otherwise.

[2018-11-15 01:35] mzafer commented on #90
Sure, will try do create one in the next few days.

[2018-11-19 03:35] mzafer commented on #90
I was not able to recreate the issue on a sample project but managed to fix it in my main project. I had to add the below to my android/app/build.gradle to resolve the issue.

implementation 'com.android.support:design:27.1.0'

[2018-11-19 04:22] cooperka commented on #90
Thanks for the workaround @mzafer. It may be that your main project was created with a different config than standard React Native projects these days. Glad you solved it!

[2018-11-19 04:22] #90 closed, assigned to nobody

[2018-11-25 22:20] cooperka commented on #95
Closing due to inactivity. Feel free to comment if you have more info.

[2018-11-25 22:20] #95 closed, assigned to nobody

[2018-12-05 11:29] rutvikwebmobtech opened #97 "Fatal Exception: java.lang.IllegalArgumentException"
My app has a 100K+ users and I got 168 crashes in crashlytics that affected 128 users of my app

`Fatal Exception: java.lang.IllegalArgumentException: No suitable parent found from the given view. Please provide a valid view.
       at android.support.design.widget.Snackbar.make(Snackbar.java:137)
       at com.azendoo.reactnativesnackbar.SnackbarModule.displaySnackbar(SnackbarModule.java:91)

[2018-12-05 20:09] cooperka commented on #97
Hmm, are you able to reproduce this? Can you include the version number of this library that you're using?

I'd welcome a PR if you'd like to submit one. Thanks @rutvikwebmobtech.

[2018-12-06 03:48] rutvikwebmobtech commented on #97
@cooperka No at the time of development I don't face any issue but I got it from Crashlytics. I am using version 0.4.4

[2018-12-06 04:06] cooperka commented on #97
There have been a lot of changes since then, can you try upgrading to [v0.5.3](https://github.com/cooperka/react-native-snackbar/releases/tag/v0.5.3)?

[2018-12-06 04:12] rutvikwebmobtech commented on #97
Yes In my latest project I am already using v0.5.3, but the same issue in new project too

[2018-12-06 14:39] cooperka commented on #97
Is the line number of the error in 0.5.3 different than the one you originally posted? That would probably be the place to start if anyone wants to tackle this bug.

[2018-12-07 03:52] rutvikwebmobtech commented on #97
@cooperka here is the crash log from latest version

[code]

[2018-12-07 04:38] cooperka commented on #97
Excellent. In that case it looks like the fix should be made [here](https://github.com/cooperka/react-native-snackbar/blob/master@%7B2018-12-06%7D/android/src/main/java/com/azendoo/reactnativesnackbar/SnackbarModule.java#L93). Would you like to take a go at it?

[2018-12-07 11:20] sushantsaho opened #98 "Snack bar not dissmissing in ios"
Sometimes Snack bar is not dismissing, it stays forever until kill the app.

[2018-12-07 19:44] cooperka commented on #98
Strange, can you reproduce it? Generally we'll need to know the exact steps in order to fix the bug.

[2018-12-09 10:52] mdzebardast opened #99 "java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.Context android.view.View.getContext()' on a null object reference"
Hi,
I have a problem with snackbar,

FATAL EXCEPTION: mqt_native_modules
Process: com.oamobile, PID: 11245
java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.Context android.view.View.getContext()' on a null object reference
	at android.support.design.widget.Snackbar.make(Snackbar.java:136)
	at com.azendoo.reactnativesnackbar.SnackbarModule.displaySnackbar(SnackbarMo

[2018-12-09 21:04] cooperka commented on #99
Hi @mdzebardast, this looks like a duplicate of https://github.com/cooperka/react-native-snackbar/issues/93 which was recently fixed, can you make sure you're on the latest version?

[2018-12-10 08:21] mdzebardast commented on #99
Thanks @cooperka, I've checked the version and it's 0.4.6. I would update it and test it on Android 8.

[2018-12-11 07:45] sushantsaho commented on #98
@cooperka We are not able to find the exact steps but sometimes its stays on the screen until we kill the app from switcher.

[2018-12-11 15:59] cooperka commented on #99
Great. Closing for now, if you still have issues feel free to comment and I can re-open.

[2018-12-11 15:59] #99 closed, assigned to nobody

[2018-12-11 16:04] cooperka commented on #98
Are you using `Snackbar.dismiss()`, did you set a length, or both?

[2018-12-11 19:50] wahabtobibello opened #100 "Build failed: Could not resolve all files for configuration ':react-native-snackbar:classpath'."
Hi @cooperka,

So i tried building my react native project with react-native run-android and I got this error

![screen shot 2018-12-11 at 8 44 44 pm](https://user-images.githubusercontent.com/17463997/49825920-e472b300-fd85-11e8-9d8f-4ffbd33320a0.png)

It seems react-native-snackbar uses the gradle version 2.3.3 but this version is not available in jcenter as the urls: https://jcenter.bintray.com

[2018-12-12 03:10] DiepEsc commented on #100
My simple solution is as following steps:
- Move react-native-snackbar out of node_modules folder. (Ex: move to new folder: modified_modules)
- Upgrade the gradle build tool version, also add google repository in react-native-snackbar/android/builde.gradle. Like this
[code]
- Change react-native-snackbar version in package.json. Like this
```"react-native-snackbar": "file:modified_modules/react-na

[2018-12-12 11:13] wahabtobibello commented on #100
Thanks a lot, @DiepEsc. I was able to get it working with your solution. I also hope it can be fixed soon.

[2018-12-12 14:58] cooperka commented on #100
Hi @tobibello001, I'm glad a workaround helped. Gradle v2.3.3 is used by default by React Native, so I find it strange that that version isn't working for you. Are you able to link to an example app that had this problem?

[2018-12-12 15:00] cooperka commented on #100
@DiepEsc please feel free to submit a PR if you want to help contribute to open-source software 😺 Thanks.

[2019-01-09 16:36] Pranit-Harekar opened #102 "Project is not configured for cocoapods?"
I am trying to build and run but I get React related errors saying 'React/RCTBridgeModule.h' file not found, etc. How is react dependency configured in this project? Normally project should have a podfile specifying react related dependencies. But this project isn't configured that way. Am I missing something? How can I get install React dependencies?

[2019-01-09 16:40] Pranit-Harekar commented on #102
@cooperka Please help!

[2019-01-09 16:53] Pranit-Harekar commented on #102
NVM forgot to use link!!!!!! Sorry!

[2019-01-09 16:53] #102 closed, assigned to nobody

[2019-02-08 14:07] AntoineAA commented on #97
Hi,
is it fixed?

[2019-02-08 15:01] cooperka commented on #97
Hi @AntoineAA, as far as I know nobody has submitted a fix yet. Would you like to tackle it?

[2019-02-15 13:45] wodka opened #104 "index.d.ts provides wong information"
the structure in the index.d.ts (type definitions) imply that the lib must be imported by:

`import * as Snackbar from 'react-native-snackbar';`

but instead it provides a default export that contains the mentioned functions. meaning the above statement would then require calls like `Snackbar.Snackbar.show(...)`

so the file would have to include:

[code]

[2019-02-21 07:50] faisalkhan1690 opened #105 "Snackbar rendering behind keyboard on Android and iOS both"
Hi,
The snackbar always renders on the bottom behind the keyboard if keyboard is open. Do you have any solution for this?

[2019-02-21 08:17] faisalkhan1690 commented on #78
@jdrorrer  Thanks for this workaround it really saved my day.

[2019-02-21 08:41] onmyway133 commented on #43
After adding RNSnackBar.xcproj to Xcode (I recommend doing that manually instead of pod install), go to your app target -> Build Phrases -> Link Binary with Libraries and select RNSnackBar.a

[2019-02-21 17:14] cooperka commented on #105
Merging duplicate with https://github.com/cooperka/react-native-snackbar/issues/78, let's continue the discussion there.

[2019-02-21 17:14] #105 closed, assigned to nobody

[2019-02-21 17:15] cooperka commented on #78
Hi @faisalkhan1690, I saw you posted #105 about this happening on Android also. Can you post any screenshots or an app to repro this? It uses the native Android Snackbar component so this shouldn't be happening unless something weird is going on like the Snackbar getting attached to a non-main view.

[2019-02-21 17:16] cooperka commented on #104
Thanks @wodka, do you mind submitting a quick PR to fix this?

[2019-02-21 17:40] wodka commented on #104
@cooperka just created the pull request

[2019-04-08 20:38] kresogalic8 opened #108 "Undefined is not an object - RNSbackbar.LENGTH_LONG"
Hey guys I got this error after yarn add, and importing.

![56595504_2097050987251719_8939324542237540352_n](https://user-images.githubusercontent.com/7289406/55755361-16073c80-5a4f-11e9-9205-4e47759fc49d.jpg)

[2019-04-09 01:07] cooperka commented on #108
You can find help on the [README here](https://github.com/cooperka/react-native-snackbar#undefined-import), merging into https://github.com/cooperka/react-native-snackbar/issues/43. Hope that helps!

[2019-04-09 01:07] #108 closed, assigned to nobody

[2019-04-09 01:09] cooperka commented on #29
Note that this is currently documented on the [README here](https://github.com/cooperka/react-native-snackbar#undefined-import), please refer all comments to #43. I'm going to lock this issue in order to unify the conversation there. Thanks!

[2019-05-09 06:16] nitinAct opened #109 "Snack bar is not show when modal is open in react native."
I'm using a snack bar for validation but it's using in modal of react native. it is a critical issue that while a modal is  open snack show fast and goes away

[2019-05-20 12:22] abhilash-behera opened #110 "Snackbar ellipsizes text after 2 lines"
Snackbar is not showing full text when text length increases more than one line. There should be option to show number of lines.
![Screenshot_2019-05-20-17-53-10-73_b24c65ed21396e6786850b6135539d98](https://user-images.githubusercontent.com/13430073/58021355-4ea73500-7b28-11e9-8953-ed782c952452.png)

[2019-05-21 01:43] cooperka commented on #110
Thanks @abhilashfancy, I've marked this as a feature request. I'll be happy to accept a PR that provides this option.

[2019-05-21 01:45] cooperka commented on #109
Hi @nitinAct, I need more information to understand what the issue is. Can you provide a screenshot and/or steps to explain what you want to achieve?

[2019-05-21 05:09] nitinAct commented on #109
Thanks, buddy I found the way to solve the issue

[2019-05-21 21:05] #109 closed, assigned to nobody

[2019-05-25 06:40] alizera commented on #38
No one is taking care of it?

[2019-06-04 19:34] #104 closed, assigned to nobody

[2019-06-24 12:10] mehranabi commented on #62
Hello @cooperka , Thanks for this work!
It's totally working on RTL layouts, and everything's good in RTL Farsi (Persian) layout which i tested.

[2019-06-27 20:49] FelipePaiva1992 opened #113 "Does not work on android over Modal with ProGuard"
I try to show the `Snackbar` over a Modal

If I disable the proguard, everthing works fine.
But if I enable the `Snackbar` stop work only over a Modal.

[2019-07-02 14:30] cooperka commented on #62
Thanks for confirming @mehranabi! I'll close this.

[2019-07-02 14:32] #62 closed, assigned to nobody

[2019-07-05 18:55] mehranabi opened #114 "AndroidX support for RN 0.60.0"
Hello @cooperka , Thanks for this library!
As you may know, in new version of React Native (0.60.0), support libraries are removed and now you have to use AndroidX.
I tried to change imports and replace old support libs with androidx/google-material libs (you can find my fork at https://github.com/mehranabi/react-native-snackbar), but after it, i got another error:
[code]
Can you please help me fi

[2019-07-05 19:34] mehranabi commented on #114
It's working now! But if you want to publish it, check my change in `package.json` first!

[2019-07-05 19:34] #114 closed, assigned to nobody

[2019-07-08 23:45] cooperka commented on #114
Thank you @mehranabi! It looks like there's an existing PR to do this as well, let me know if it works for you: https://github.com/cooperka/react-native-snackbar/pull/112

[2019-07-08 23:57] cooperka commented on #113
Thanks @FelipePaiva1992. Possibly related to https://github.com/cooperka/react-native-snackbar/issues/28. If you find a fix for this I'd welcome a PR.

[2019-07-08 23:58] cooperka commented on #100
Closing as stale. Please reply here if you have further issues.

[2019-07-08 23:58] #100 closed, assigned to nobody

[2019-07-09 10:48] masterkrang commented on #43
woah, this bug is a nightmare, these devs should apologize. tried a lot of stuff, but no thanks, abort mission!

[2019-07-16 12:07] rahulchowdhury commented on #78
Any updates on this issue?

[2019-07-18 17:14] juliobguedes commented on #43
@masterkrang I spent the last day trying to add this component to my app and couldnt do it. Today I decided to try once more and was able to add it (my app is ios only). Those were my steps:

1. Add `pod 'React', :path => '../node_modules/react-native'` to the beginning of my Podfile
2. `npm i --save react-native-snackbar`
3. `react-native link react-native-snackbar`
4. (Obviously optional) Fixed

[2019-07-23 11:23] VadimOsovsky opened #118 "Execution failed for task ':app:processDebugManifest'."
![Screenshot 2019-07-23 at 14 21 57](https://user-images.githubusercontent.com/39897981/61708382-5caa4980-ad55-11e9-8ca3-4e2131353b41.png)

[2019-07-29 17:05] AndersonCossul commented on #118
![Screen Shot 2019-07-29 at 14 03 20](https://user-images.githubusercontent.com/19210930/62067292-bf925980-b209-11e9-9056-117f25feff5f.png)

What's your RN version?

I was having the same issue when using v0.59.

[2019-07-30 23:04] #113 closed, assigned to nobody

[2019-07-30 23:19] cooperka commented on #78
@rahulchowdhury no updates, do you have time to help out and submit a PR?

[2019-07-31 06:08] rahulchowdhury commented on #78
Hey @cooperka, sorry mate, I'm not a React dev. Found this issue when I contributed once to a project inside the company I work for.

I'll ask the concerned developer to have a look at this. 😀

[2019-07-31 10:48] EtrustcityBehpardazan opened #120 "is it possible setting font for text?"
i want to set font for text in snackbar  is it possible?

[2019-07-31 22:35] cooperka commented on #120
It will be soon 🎉 have a look at https://github.com/cooperka/react-native-snackbar/pull/117 for more info.

[2019-08-01 10:36] kamlesh1000 opened #121 "Inconsistent while using with 'NetInfo' from '@react-native-community/netinfo'"
I have a simple method for detecting the change in internet connection. Every change in connection must give a snackbar pops up. When internet connection changes from OFF state to ON, it works perfect. But, when changes from ON to OFF, no any snackbar pops up. I checked with log which is perfectly working. Also, checked replaing snackbar with Alertbox which worked perfectly.
I used following code:

[2019-08-02 04:19] cooperka commented on #121
Hmm very strange, it seems like the only difference between the two calls is the Snackbar title. In order to help I'd need to see a demo app so I can debug myself. Are you able to create and share a working demo @kamlesh1000?

[2019-08-02 04:46] kamlesh1000 commented on #121
@cooperka This is the demo :
https://snack.expo.io/@kamalesh/2d16c2
It gives me the error: Cannot read property 'LENGTH_LONG' of undefined which is the pinned issue. So,I think you can deal with this 👍

[2019-08-03 13:29] VadimOsovsky commented on #118
@AndersonCossul I'm currently on 0.59

[2019-08-03 19:05] cooperka commented on #118
@VadimOsovsky as noted above, please upgrade to RN v0.60 in order to use Snackbar v2.0. Thanks!

[2019-08-03 19:05] #118 closed, assigned to nobody

[2019-08-22 11:35] SaeedZhiany opened #122 "Fully custom view support"
According to the answers of [this stackoverflow's thread](https://stackoverflow.com/questions/32453946/how-to-customize-snackbars-layout), we can customize the view of snackbar in android ([take a look at this for example](https://stackoverflow.com/a/44943035/6340959))

Is it possible to achieve that using this library on both android and IOS platforms?

[2019-08-23 07:01] bytewiz commented on #121
I am using Expo and I get the same error if this is supposed to be supported by Expo at all:
![image](https://user-images.githubusercontent.com/16811871/63572999-81782380-c584-11e9-93bb-083b72edf38e.png)

[2019-08-29 14:01] terreb commented on #27
However this issue is closed as wontfix, implementation of the dismiss callback would be helpful. In my app I send a request to the backend once the snackbar is dismissed or auto dismissed (currently using another package, but would love to switch to this one due to it being native rather just js). Unfortunately, I'm not experienced neither in native iOS nor Android development, so unable to help.

[2019-09-17 02:54] almeida-samuel opened #123 "Issue using along mobx"
Hello, good evening.

@cooperka do you know something about this issue: https://github.com/mobxjs/mobx/issues/2110

Btw, my call of `Snackbar.error({ title: this.error })` is a simple wrap of the normal `.show` with some predefined parameters, like the background color.

[2019-09-18 03:10] chrisk8er opened #124 "Deprecated Gradle incompatible with Gradle 6.0."
Hi, i've got this error after installing this package.

[code]

Please help... i'm using React-native 0.59.9
thanks.

[2019-09-27 08:49] thepday12 commented on #43
You can try on Android

- Step 1: run **react-native link react-native-snackbar**
- Step 2: open MainApplication in **getPackages** add **new SnackbarPackage()** to List
[code]

[2019-09-28 11:25] anurag060 commented on #113
Hi @FelipePaiva1992. I am also facing the same issue when the proguard is enabled. Can you please tell me the steps to fix this.

[2019-09-28 11:30] FelipePaiva1992 commented on #113
@anurag060 this issue was not be fixed by the main dev.

I recommend you to use other lib like
https://callstack.github.io/react-native-paper/snackbar.html

Because this is an old issue, more or less two year ago.

[2019-09-28 12:01] anurag060 commented on #113
Hi @cooperka..can you help me with this issue?

[2019-10-06 22:33] iRoachie opened #125 "Explicitly set fallback title color"
Currently, this lib will default to using `android:textColor` when no colour for the title is set.

As of react-native 0.60.0 (see diff https://react-native-community.github.io/upgrade-helper/?from=0.59.10&to=0.60.0) all react native apps will come with `android:textColor` set to black (`#00000`). This results in the default behaviour of the snackbar to have a black title.

![66277092-8e688200-e86

[2019-10-09 15:59] shubhq2 opened #127 "Compile task fails with Following"
### Task :react-native-snackbar:processDebugManifest FAILED

**Full Log Here:**

**react-native run-android**

[code]

[2019-10-13 10:43] 5ervant commented on #74
**Not working with Expo.   ;(**

[2019-10-13 22:41] daimonkor opened #128 "Missing snackbar after apply Alert dialog"
Please help, Snackbar did not show

[code]

[2019-10-17 23:33] #125 closed, assigned to nobody

[2019-10-22 12:31] EdisonDevadoss opened #130 "Unable to run my application"
After I installed **react-native-snackbar** I could not run my application.
In this application, I used **react-native-navigation**.
Please help me. I attached the below error.

![Screenshot from 2019-10-22 17-57-51](https://user-images.githubusercontent.com/30063304/67285830-e7861600-f4f5-11e9-8860-25eccf6a9ecc.png)

[code]

[2019-10-24 10:53] romreed commented on #74
still get with error
 "react-native": "0.61.2"

[2019-10-27 12:37] slavikdenis commented on #97
Just run into this error on release version. If anyone has some idea how to reproduce it, let me know, maybe would try to fix it. Thanks

stack:

[code]

[2019-11-11 14:24] bbeckk opened #131 "Snackbar doesn't go away when user tap in it."
How to make snackbar disppear when it is tapped?

[code]

[2019-11-13 05:25] cooperka commented on #131
Hi @bbeckk, you can add an `action` if you want the user to be able to tap something (see readme for details). Otherwise, the snackbar can't be tapped.

[2019-11-13 05:25] #131 closed, assigned to nobody

[2019-11-13 05:29] cooperka commented on #121
Ah, Snackbar is a native module so Expo doesn't support it. You can't use Snackbar with Expo. Thanks for the question and demo.

[2019-11-13 05:34] cooperka commented on #130
Hi @EdisonDevadoss, this is an unusual error and likely due to a project configuration. Have you looked at the relevant location in AndroidManifest.xml:7 and tried the suggested solution?

Closing for now; please let me know if this ends up being related to Snackbar and I'm happy to re-open.

[2019-11-13 05:34] #130 closed, assigned to nobody

[2019-11-13 05:36] cooperka commented on #122
Not currently; this would be a big change. If you're willing to try, I'd be happy to accept a PR. Thanks.

[2019-11-13 05:38] kamlesh1000 commented on #121
I am not using the Expo CLI. I have a different question. Did you just closed this issue refering the issue in the comment?

[2019-11-13 05:40] cooperka commented on #123
Thanks for the detailed reports @almeida-samuel. Could you create a minimal example app to reproduce this bug? That would help diagnose the problem.

By chance, are you using any modals that appear/disappear related to the error? Snackbar can sometimes get attached to the modals and not appear on screen, see #28

[2019-11-13 05:42] cooperka commented on #124
Hi @chrisk8er, see changelog [here](https://github.com/cooperka/react-native-snackbar/releases), snackbar v2.0 requires React Native v0.60 or higher. If you're still on v0.59, you should continue to use snackbar v1.

[2019-11-13 05:42] #124 closed, assigned to nobody

[2019-11-13 05:44] cooperka commented on #127
Have you tried the suggested advice:

[code]

Closing for now, please feel free to answer with more details and I'm happy to re-open.

[2019-11-13 05:44] #127 closed, assigned to nobody

[2019-11-13 05:46] cooperka commented on #128
The Snackbar is likely attaching to the Alert modal that's on the screen when `show` is called. See issue #28 for suggested workarounds. Thanks and good luck.

[2019-11-13 05:46] #128 closed, assigned to nobody

[2019-11-13 05:55] cooperka commented on #121
Apologies @kamlesh1000, I saw your demo at <https://snack.expo.io> and assumed that expo was the issue without looking further.

I can't seem to reproduce the issue in your demo because of the same error @bytewiz posted. Is the demo working for you? I don't think <https://snack.expo.io> supports this module so the demo could be a github repository, for example.

[2019-11-13 05:59] cooperka commented on #113
Please refer to #28 for issues with modals. You might try using `setTimeout` to work around this issue. Thanks.

[2019-11-13 06:02] kamlesh1000 commented on #121
Yaa, demo is working well on mobile. But, that inconsistency is still a issue to be solved.

[2019-11-13 06:21] cooperka commented on #121
I must be misunderstanding something because the demo seems to require Expo in order to run. Here's the popup I see when I try to run on mobile:

<img width="300" alt="Screen Shot 2019-11-12 at 22 20 51" src="https://user-images.githubusercontent.com/2047062/68738296-c9fb1800-059a-11ea-9b38-7d1e55b04496.png">

What are the steps you use to run on your device without Expo?

[2019-11-13 06:26] kamlesh1000 commented on #121
Sorry, I just missunderstood.. Demo was in expo. Just try with the IDE.

Just removing the third import.
import Constants from 'expo-constants'; // remove

And its a demo for the IDE.

[2019-11-15 01:27] cooperka commented on #121
If you could provide me with a working github repo I can clone and run in an IDE that would be really helpful. I maintain this in my spare time and it's hard to debug issues unless they're super quick to reproduce. Thanks for your patience.

[2019-11-23 22:55] emmx commented on #121
I have the same issue. I think it's caused by not being on the app when you try to do Snackbar.show().

For instance if you are testing on a physical device and you slide the Android menu to disconnect the phone, that alone seems to be enough to cause the issue. On the other hand if you add a setTimeout() so the .show() call is delayed and you have enough time to go back to your app after disconne

[2019-11-30 15:17] janoist1 commented on #43
+1

[2019-11-30 17:37] janoist1 commented on #43
Ok, it turns out that for me the issue was due to not restarting the simulator. :-)

[2019-12-01 06:39] gvsakhil opened #132 "Snackbar.show is working only sometimes"
I am trying to show some toasters based on api response and if I add a snackbar before try block its working fine and the snackbar that are inisde try, catch blocks are not being executed. I try settimeout but it didn't work for me.

**package.json**

"react": "16.9.0",
    "react-native": "0.61.5",
    "react-native-snackbar": "^2.0.3",

**My Code**

async function sendEmail() {
        Snackbar.

[2019-12-06 23:06] cooperka commented on #132
Strange! In order to help debug, do you mind creating a working example app I can download and run? That would help tremendously. Cheers.

[2019-12-06 23:10] cooperka commented on #121
Exactly @emmx, thanks for weighing in. The snackbar attaches to whatever view is on top of your screen when the snackbar is shown. If that view happens to be the menu or some temporary modal that goes away, you'll never see the snackbar. I'll add a section in the readme to further clarify this.

[2019-12-18 12:29] madhums commented on #121
@cooperka Perhaps it's valuable to put this in the readme?

[2019-12-19 00:06] cooperka commented on #121
Good call @madhums, I've added a note to the readme that to use with Expo you need to [eject to ExpoKit](https://docs.expo.io/versions/latest/expokit/eject/).

[2019-12-30 11:58] maxmijn opened #135 "Custom duration Snackbar"
Thanks a lot for this library!

I was wondering if it is possible to set a custom duration for the Snackbar. 3 seconds (the LENGTH_LONG) is too short for my needs and indefinite is not an option.

Cheers

[2019-12-30 16:35] cooperka commented on #135
Based on an initial check online it looks like Android's Snackbar supports this -- https://stackoverflow.com/a/44009407/763231

I would happily accept a PR adding this feature to this library. Thanks @maxmijn.

[2020-01-16 19:23] pedrobernardina opened #136 "[Bug][Android] Need to explicit pass color to action object"
This snippet works

[code]

This one does not

[code]

[code]

![Screenshot_1579202501](https://user-images.githubusercontent.com/15324745/72555906-51575700-387c-11ea-8943-9f5d178a84ea.png)

[2020-01-17 05:38] cooperka commented on #136
Thank you for the report @pedrobernardina! This has been fixed and released in v2.0.5. The action button now defaults to white and does not require a color to be explicitly passed.

[2020-01-17 05:39] #136 closed, assigned to nobody

[2020-01-21 02:55] cooperka commented on #120
Released in v2.2.0

[2020-01-21 02:56] #120 closed, assigned to nobody

[2020-01-24 10:56] noumansakhawat-dev opened #140 "Margin Bottom,Left & Right is missing"
Missing margins on Bottom Left and right

[2020-01-24 16:06] cooperka commented on #140
Closing in favor of #15, as this addresses the same need. Thank you for the PRs, I will comment on them soon!

[2020-01-24 16:06] #140 closed, assigned to nobody

[2020-01-24 16:14] noumansakhawat-dev commented on #140
I created a pull request for Margin Bottom ,Left and Right

[2020-02-10 14:58] dwidc opened #143 "Reduce size of npm package (when published via Yarn)"
I found that your npm package includes large temporary android files.
For example, folder `/android/build` alone is about 13mb. Mostly on `/android/build/tmp` and `/android/build/intermediates`

Shouldn't you exclude those folders from publishing?
I also checked on `https://www.npmjs.com/package/react-native-snackbar` your total package is about 20mb.

[2020-02-13 19:55] cooperka commented on #143
Thanks for the report, @dwidc! I will update `.npmignore` to reduce bundle size as soon as I can get around to it. PRs also welcome.

[2020-02-20 15:40] tankpower1 opened #145 "How to add custom styles"
Hello,
I was wondering if i can add custom view and font styles to this component, because i need a higher view and bigger and centered font size?

[2020-02-20 17:43] cooperka commented on #145
Hi @tankpower1, welcome. Please see #47 and #122 for past discussions related to this, thanks! You can customize several things, including font, but not everything. PRs are welcome.

[2020-02-20 17:43] #145 closed, assigned to nobody

[2020-02-24 09:16] troZee opened #146 "[Feature] Corner radius prop"
Hey,

Thank you for developing this libs. Currently I am using this lib in my existing project. I would like to discus with @cooperka @remstos about below feature, before I start developing new feature

**Feature Request:**
As developer, I would like to have a ability to change border radius

**Possible implementation**
I added patch-package to my project as follow:
[code]
[code]

[2020-02-25 17:02] ImAbhishekTomar opened #147 "🚀 Feature Proposal - Custom Theme Support"
If you add custom theme support something like this then this is very helpful for personalized branding.

allow this component theme configuration on app root.

![Screenshot 2020-02-25 at 22 28 20](https://user-images.githubusercontent.com/6933841/75269094-6087d800-581e-11ea-9723-464bc488cb7c.png)

[2020-02-25 20:56] cooperka commented on #147
This is a great idea and simple to add, thanks @ImAbhishekTomar. Do you want to submit a PR for this (either instructions in the README or perhaps something more advanced)?

[2020-02-25 21:00] cooperka commented on #146
Thanks for the feature request @troZee. I believe the corners are already somewhat rounded, do you have a screenshot of the difference before/after this code?

My main concern is that it's more work to support custom drawables like this, since they need to be tested before every new release. More code execution paths make maintenance more complex.

[2020-02-26 11:44] troZee commented on #146
I forgot, that we use version 1.0.2, and I added this patch package to our codebase. IDK, how about higher versions.

Totally agree with you. It would not be implemented like this due reasons, that you have provided. This should be a class, which will generate rounded corners programmatically eg https://stackoverflow.com/a/57763551/4247480 Sorry for confusing.

[2020-02-26 12:26] troZee commented on #146
Before
![Screenshot_1582719311](https://user-images.githubusercontent.com/12766071/75344245-8b177680-589a-11ea-98a9-ce4c4e98adfc.png)

After
![Screenshot_1582719237](https://user-images.githubusercontent.com/12766071/75344231-8226a500-589a-11ea-99c5-54fc5bf40139.png)

I see, that we also added some margins. In `Before` case there is no sense to add rounded corner feat.

To summarize it:
Can we add

[2020-02-26 21:28] cooperka commented on #146
Margins have been proposed in https://github.com/cooperka/react-native-snackbar/pull/137; that PR is blocked on feedback that needs to be addressed by the submitter. If you'd like to address my feedback and submit an updated PR for margins, feel free! Thanks.

[2020-02-26 21:30] cooperka commented on #146
Closing this issue since corner radius will likely not be supported, but I will still see any replies you post.

[2020-02-26 21:30] #146 closed, assigned to nobody

[2020-03-06 10:07] ImAbhishekTomar commented on #147
I am trying to get pull request for this repo, but I am failing to do. Can you please help?

[2020-03-06 16:03] cooperka commented on #147
Let me know if this guide helps: https://opensource.com/article/19/7/create-pull-request-github

[2020-03-12 22:02] ImAbhishekTomar commented on #147
I will check!! THANKS

[2020-03-13 12:25] swathi2378 commented on #109
@nitinAct how did you solve the issue?

[2020-03-13 19:42] cooperka commented on #109
@swathi2378 see #28 for some potential workarounds for similar issues.

[2020-03-17 09:15] ImAbhishekTomar commented on #147
@cooperka  -  I have done something, you can check. This is my first open source contribution so give me a suggestion if i do something wrong.

I am from C# background and I have only limited react-native knowledge so give me a suggestion how can i improve this.

https://github.com/ImAbhishekTomar/react-native-snackbar/tree/branchThemeSupport

[2020-03-17 15:27] nitinAct commented on #109
no but i made another static container rather than it
i still can't understand why  this happing

[2020-04-01 07:31] ausshadu opened #150 "Can we have an option to re-position SnackBar ?"
Hi,
Can we have an option to re-position SnackBar, currently it is painted at the very bottom of the screen, if we can include an option to change it or add some `bottomMargin` offset value, it would be nice.

Project Settings:
RN: 0.61.5
Platform: iOS and Android

[2020-04-02 22:02] cooperka commented on #150
Indeed! Please see #15 for discussion of positioning, along with open PR #137; that PR is blocked on feedback that needs to be addressed by the submitter. If you'd like to address my feedback and submit an updated PR for margins, feel free! Thanks.

[2020-04-02 22:02] #150 closed, assigned to nobody

[2020-04-23 11:35] Rizwan-Ijaz opened #152 "how to increase font size of text Snackbar?"
There are multiple properties to adjust text like textColor, fontFamily but there is no property to adjust font size of snakbar

[2020-04-24 04:26] cooperka commented on #152
Thanks @Rizwan-Ijaz! I'm going to merge this feature request into a related one: https://github.com/cooperka/react-native-snackbar/issues/47

I am open to this change if you are interested in submitting a pull request.

[2020-04-24 04:26] #152 closed, assigned to nobody

[2020-05-26 06:11] nagasaicharan commented on #97
Is there any update on this bug

[2020-05-26 22:41] cooperka commented on #97
Hi @nagasaicharan, #144 attempts to resolve this bug but is in need of improvement. Feel free to submit a PR to address the feedback!

[2020-05-26 22:47] cooperka commented on #143
Re-opening re: https://github.com/cooperka/react-native-snackbar/pull/153#issuecomment-634320342

[2020-05-28 13:12] sonicdoe commented on #143
@cooperka To make this work with Yarn, would you rather only have a `files` field (to *include* all necessary files) or only have a `.npmignore` (to *exclude* all unnecessary files)?

[2020-05-29 21:23] cooperka commented on #143
Hmm it seems like exclusion may be more flexible/simpler. For example to include src but not tests, and some of android but not all. I suppose the downside is that it would be partially redundant with .gitignore? I can accept that 🤷‍♂️

[2020-06-02 18:23] sonicdoe commented on #143
With https://github.com/cooperka/react-native-snackbar/pull/154, I now kind of went the middle way. It effectively still works the same as before but uses `.npmignore` instead of the `files` field in order to work around Yarn’s different behavior.

[2020-06-10 15:27] GunnarAK commented on #132
I'm having this issue on Android only. iOS works as expected..
I've got a component called ScreenContainer which checks network availability:
[code]
I use this in other class components:
[code]

**I'm seeing all the console warnings as expected, but the Snackbar is not showing up.**
The Snackbar does show up when a class component using ScreenContainer is mounted (componentDidMount). Then toggling

[2020-06-12 10:41] GunnarAK commented on #132
I found what I was doing wrong. For turning off/on network capabilities I swiped down my QuickSettings pane. By doing this the application window loses focus. There are numerous cases where this is unexpected behaviour and you fail to deliver your message to the user.
I put breakpoints at line 66 and 68 in SnackbarModule.java, they were triggered when QuickSettings was visible. But 71: `displaySna

[2020-06-28 17:11] Balasnest opened #156 "how to show snackbar on top?"
Is it possible to show snackbar on top? Right now by default its coming in the bottom which is not always useful much.

[2020-06-28 18:53] cooperka commented on #156
Hi @Balasnest, please see https://github.com/cooperka/react-native-snackbar/issues/15 thanks!

[2020-06-28 18:53] #156 closed, assigned to nobody

[2020-06-28 19:24] #132 closed, assigned to nobody

[2020-06-28 19:37] #97 closed, assigned to nobody

[2020-06-28 19:47] #143 closed, assigned to nobody

[2020-06-29 19:57] durdevic opened #157 "Snackbar gets dismissed immediately when closing the Modal - Android"
I thought this was a fix for it but still occurs. https://github.com/cooperka/react-native-snackbar/pull/155

So I'm showing the Snack once the **closeModal** (made from react-native-modal component) is triggered.

On Android it gets shown for a split second and then dismissed. I thought it was because of re-rendering, but when I moved it to other component, it's the same behaviour. I also tried L

[2020-07-03 04:11] cooperka commented on #157
Thanks for the info @durdevic. Merging into https://github.com/cooperka/react-native-snackbar/issues/28.

Please try the `setTimeout` workaround so the snackbar doesn't get attached to the view that's being closed.

[2020-07-03 04:11] #157 closed, assigned to nobody

[2020-07-20 13:49] ospfranco opened #160 "Does not work from inside an async generator?"
Hey, I was facing the issue when attaching to a parent that gets dismissed, so when I call the snackbar from a setTimeout everything works fine, but when I try to call it inside a async generator (redux saga in this case), it explodes:

![87920609-bda85280-ca79-11ea-9812-43d2d6dc241f](https://user-images.githubusercontent.com/1634213/87944997-6b2e5c80-caa0-11ea-9fa6-3231a336eacd.png)

I have a sus

[2020-07-20 22:41] cooperka commented on #160
To be clear, is this a setTimeout **within** an async generator that's not working? A working demo app would be super helpful if you're able to provide it.

[2020-07-21 04:38] ospfranco commented on #160
Hi @cooperka, thanks for answering, I just tested this again and it seems it was a problem with the generator itself, but rather the time that the call was delayed, increasing the time gets rid of the error and allows the snack show properly, thanks!

[2020-07-21 04:38] #160 closed, assigned to nobody

[2020-07-24 08:22] atmeshwar-classic opened #161 "Change snackbar position to top?"
Hi @cooperka !,
First of all, thanks for the awesome library.
I wanted to propose a change where we could pass a config parameter for changing the position of the snackbar to either top or bottom.
Do you think it is possible?
Regards,
Atmeshwar

[2020-07-28 08:03] sabrimev commented on #28
I was having same issue. It didn't appear after loading layout. So I just set timeout like this;

`setTimeout(() => {
                Snackbar.show({
                    text: errorText,
                    duration: Snackbar.LENGTH_LONG,
                })
            }, 300)`

[2020-08-10 08:38] dpchami opened #162 "Add Icon in the text/display message"
Is there anyway I can add icon when displaying the message
![image](https://user-images.githubusercontent.com/19475836/89765012-2c6b4f80-dafe-11ea-8acb-21ed1fc0a9f8.png)

[2020-08-11 21:41] TheSecMaven commented on #161
trying to do this myself right now not much luck

[2020-08-12 03:46] Minishlink commented on #28
I don't really like having a timeout so I've forced the snackbar to show on the main view instead of the modal in the areas of the app where there is a loading overlay. https://gist.github.com/Minishlink/fc60bce597cf3564d442c367418a89bf

[2020-08-14 16:03] dpisarevskiy commented on #43
hello! this solution don't work with expo..

[2020-08-15 02:54] bachbonglong opened #163 "Multiple action buttons in one Snackbar"
I want 2 actions in 1 snackbar ... is that possible? Like this ->
![image](https://user-images.githubusercontent.com/42697834/90303978-3e256c00-dedd-11ea-9f3a-ab5297f1cb1a.png)

Thanks you .

[2020-08-15 04:19] bachbonglong commented on #98
Caused by reload the app press. Make sure Snackbar.dismiss () is active before you want to reload the app. Sorry for my bad english

[2020-08-23 14:39] joaodos3v commented on #162
+1

[2020-08-23 14:49] joaodos3v commented on #147
Any updates for that? Maybe even to connect with the dark theme of other libraries like [this one](https://akveo.github.io/react-native-ui-kitten/)?

[2020-09-14 02:36] cooperka commented on #147
@joao-vieira as far as I'm aware, the screenshot of code @ImAbhishekTomar posted in the description would work out of the box. Feel free to do it in your own code and let us know what works well for you.

If you want more advanced theming integration into this library, I invite you to submit a PR!

[2020-09-14 02:38] cooperka commented on #162
This is not currently possible, but it sounds useful. I welcome a PR from the community, are you interested in submitting one @dpchami?

[2020-09-14 02:40] cooperka commented on #163
Hi @bachbonglong, thanks for the input. This is not currently possible, but it sounds useful. I think it may technically be against Material Design guidelines, so I would rather not support this directly in the library, but if you want to create a fork and implement the feature there, please share a link so others can use it too :)

[2020-09-14 02:42] cooperka commented on #163
Closing the feature request, but feel free to continue the discussion here.

[2020-09-14 02:42] #163 closed, assigned to nobody

[2020-09-14 02:45] cooperka commented on #161
Closing as duplicate of https://github.com/cooperka/react-native-snackbar/issues/15. I welcome a PR if you'd like to try it!

[2020-09-14 02:45] #161 closed, assigned to nobody

[2020-09-14 02:49] cooperka commented on #15
I edited the issue description to suggest a generic solution. This is a quite popular request! I would happily merge a PR that does this well.

[2020-09-14 04:15] joaodos3v commented on #147
Hi @cooperka, thanks for the excellent work with this library!
The solution indication of the @ImAbhishekTomar it worked for me too.

In my case, I created a generic method to "create my snackbar" and, so far, used only the themes of `success`, `warning` and `error`:
[code]

To use it, I simply do:
[code]

I hope I contributed to someone 😃
Credit: colors are based on the wonderful [UI Kitten 5.0](

[2020-11-02 17:33] mikeymop opened #168 "Perform action once snackbar disappears"
I like this library because the snackbar can display over react navigation so that it displays through a page change.

I am using this to manage drafts on a form I use. If the form is changed and the user goes back, the snackbar will display saying 'Saving as Draft' and offers an 'undo' button.

Because there is not something like an 'onDismiss' property on this snackbar, I use `setTimeout((), Sna

[2020-11-03 06:38] cooperka commented on #168
Unfortunately there's no way to do this currently, as it would need to be supported by the Android library itself. You'll need to refactor your code so that calling `saveDraft()` can be done outside of a screen context. Good luck!

[2020-11-03 06:38] #168 closed, assigned to nobody

[2020-11-13 20:06] bravadomizzou commented on #43
Readme says this library doesn't support expo.... hopefully will soon?

[2020-11-14 05:38] cooperka commented on #43
Hi @bravadomizzou, it's not that Snackbar doesn't support Expo, it's the opposite -- Expo doesn't support Snackbar. You can [eject](https://docs.expo.io/versions/latest/expokit/eject/) if you want to use Snackbar, or ask Expo to build it into their set of available native components.

[2020-11-19 08:38] Ajmal0197 opened #169 "Inconsistency when opening new snackbar one after another."
I want snackbar to use two different coloured snackbar but the second one shows previous snackbar for a small time then shows actual one.
I have already used Snackbar.dismiss() on leaving screen. But still this happens.

Below is video link:
https://drive.google.com/file/d/1Cs35xSu8tDgh6LY7g7PyYQEjI14qZCMB/view?usp=drivesdk

[2020-11-21 00:15] cooperka commented on #169
Hi @Ajmal0197, thanks for the video documentation. Could you also explain what your code is doing? I see a flash of blue that's immediately replaced by yellow. Do you want both snackbars to show at the same time (not possible) or do you expect the blue one to have been visible for longer before switching to yellow?

[2020-11-21 03:47] Ajmal0197 commented on #169
Hi @cooperka ,
On first screen i want to show yellow snackbar and on second blue one. But on second screen yellow one still shows for milliseconds then comes blue. I have already cleared it on page unmount.

[2020-11-21 18:03] cooperka commented on #169
Could you please share a working demo app on GitHub that I can test? It's hard to understand what the issue might be otherwise. Thanks!

[2020-12-07 21:41] ImAbhishekTomar commented on #43
I am facing the same issue.

[2020-12-07 22:14] ImAbhishekTomar opened #170 "#58 This issue is still showing for me."
I am facing #58 this issue in my new project.. Is the marge in the new version?

[2020-12-17 01:34] cooperka commented on #170
Hi @ImAbhishekTomar, that PR was not merged because the workaround should happen locally in your codebase. Please review my comment on that PR for advice. Thanks!

[2020-12-17 01:34] #170 closed, assigned to nobody

[2020-12-17 02:28] cooperka commented on #110
Added in https://github.com/cooperka/react-native-snackbar/pull/171

[2020-12-17 02:28] #110 closed, assigned to nobody

[2020-12-21 08:12] ImAbhishekTomar commented on #170
Thanks, I will check.

[2020-12-22 20:19] jmdrew opened #175 "Android X compatibility"
Unable to build
android.useAndroidX=true
android.enableJetifier=true

version: 2.3.0

Issue:
[code]
SnackbarModule.java -
Line 129
```TextView textView = (TextView) snackbarView.findViewById(android.support.design.R.id.snackbar_text);```

[2020-12-22 23:24] cooperka commented on #175
Thanks for the report @jmdrew, I'll welcome a PR if this library needs any changes.

[2020-12-23 19:15] rimselis commented on #175
Getting the same error on `"react-native-snackbar": "^2.2.3"`
[code]

[2020-12-23 19:58] jmdrew commented on #175
In your gradle.properties do you have:
android.useAndroidX=true
android.enableJetifier=true

Also if you are building using CI, you need to run ```npx jetify``` before the gradlew build command.

Our issue was we never ran jetify to convert the libraries to Android X before building, but I will put a PR in to fix the issue anyway.

[2020-12-24 09:36] rimselis commented on #175
`android.useAndroidX=true`and `android.enableJetifier=true` is there. I'm building using Android Studio, no CI at this stage

[2020-12-24 16:21] abhijithvijayan commented on #175
@cooperka Any fix on this issue? I am also running into this issue now when I upgraded to RN `0.63.4`

[2020-12-24 16:54] rimselis commented on #175
I have followed this fix and it solved the issue. Not sure how permanent this is https://stackoverflow.com/questions/52873056/cant-resolve-android-support-design-after-migration-to-androidx/52873231

[2020-12-24 17:00] abhijithvijayan commented on #175
@rimselis Cool, let me check it out.

Update: I feel like that one is a temporary solution. As it seems the library needs to have a fix landed to make it permanent fix.

[2020-12-24 18:26] cooperka commented on #175
Can anyone confirm that **downgrading React Native** resolves the issue? It doesn't appear to be a change to THIS library causing the issue, but rather trying to upgrade something else that uses Android X.

If anyone finds a backwards-compatible fix, please submit a PR ❤️

[2020-12-25 06:20] grenaria commented on #175
Running `npx jetify` solved the issue for me, thanks @jmdrew !

[2020-12-25 06:22] abhijithvijayan commented on #175
Actually, that did solve the issue for me too. But its not a permanent solution is it?

[2021-01-05 07:05] rkbhochalya commented on #175
@cooperka looks like this issue was introduced in PR #171. There is no need to use legacy support library to get reference to snackbar text view. I have submitted a PR (#177) which fixes this issue and also cleans code and improves runtime efficiency (a little bit ;)).

[2021-01-08 09:11] tarouboy opened #178 "Snackbar.LENGTH_INDEFINITE dismiss immediately"
It works fine when I call the snackbar on component, e.g. componentDidMount;
However it will dismiss immediately if I call the snackBar in anywhere else, e.g.g redux saga
It used to be working in such cases.

[2021-01-24 21:04] #175 closed, assigned to nobody

[2021-01-24 21:06] cooperka commented on #178
Hi @tarouboy, could you have a look at this issue and see if a similar workaround helps you? https://github.com/cooperka/react-native-snackbar/issues/28

Happy to re-open if this is a different issue; in that case please provide an example app so I can help test. Cheers.

[2021-01-24 21:06] #178 closed, assigned to nobody

[2021-02-03 13:55] dngconsulting opened #180 "Question : Is there any way to know whether the snackbar is opened"
I have an absolute positioned Fab button that should be hidden when the snackbar is opened, is there any way to know whether the snackbar is visible or not ?

Thanks

[2021-02-17 10:17] raphaelpinel commented on #14
I uninstalled and resinstalled react-native-snackbar and it worked. `npm uninstall react-native-snackbar` `npm i react-native-snackbar`

[2021-03-06 14:40] harshal2030 opened #181 "Web Support"
Can there be a web support for this framework?

[2021-03-08 00:58] cooperka commented on #181
Hi @harshal2030, since this is a native module it can't be used on the web. You can look for other JS-based Snackbar libraries for web usage (for example [Material UI Snackbar](https://material-ui.com/components/snackbars/)). Cheers.

[2021-03-08 00:58] #181 closed, assigned to nobody

[2021-03-08 01:00] cooperka commented on #180
Hi @dngconsulting, as far as I know, Android doesn't provide callbacks for this and the timing can vary depending on platform. I'd welcome a PR if you know of a good solution.

[2021-03-08 01:17] cooperka commented on #28
Hopefully this PR improves things: https://github.com/cooperka/react-native-snackbar/pull/179 (released in v2.4.0)

[2021-03-09 21:05] MortezaHeydari97 opened #182 "RTL property is missing in index.d.ts"
The `rtl` property is missing in `index.d.ts` file.
I will fix it.

[2021-03-14 11:26] MortezaHeydari97 commented on #182
@cooperka Please merge the related pull request to resolve the bug

[2021-03-23 06:55] Yandamuri opened #184 "Can we have more than one button in snack bar?"

[2021-04-07 07:52] chahalrohit commented on #67
use setTimeout i.e
setTimeout(() => {
                            Snackbar.show({
        text: responseJson.message
        duration: Snackbar.LENGTH_SHORT,
    })
                        }, 200);

[2021-06-22 01:18] ahmed-ismail-nt commented on #184
I think that violates the principles outlined by Material Design:

c.f. https://material.io/components/snackbars#usage

[2021-06-22 04:47] Yandamuri commented on #184
@AGIsmail Thank You

[2021-06-22 04:47] #184 closed, assigned to nobody

[2021-06-29 07:30] SanjanaTailor opened #187 "Unable to view snackbar on second modal layout popup"
Hi all,

In my current application, when first modal is showing on top of that snack bar is visible but on second modal snack bar is not showing currently it is showing only on first modal not on second modal dialogue.
can any one suggest with latest library changes how to handle it.

[2021-07-21 13:15] simonheavenvolvo commented on #43
Getting the same error but in react-native-web only.

[2021-08-30 18:38] busterbogheart opened #189 "Any way to use JSX for the snackbar content?"

[2021-08-31 04:09] cooperka commented on #189
No there's not, thanks for asking @busterbogheart. It's a native component, so it doesn't know anything about JS or JSX. Everything you customize needs to be done using the parameters documented in the readme.

[2021-08-31 04:09] #189 closed, assigned to nobody

[2021-09-09 13:49] alenseferovic1 opened #190 "Increase height of snack bar"
Is it possible to increase height of snack bar?

[2021-09-30 05:03] San10694 opened #192 "getting crash on iOS 15"
NSInvalidArgumentExceptionRNSnackBarView.m:184
Unable to parse constraint format: Unable to interpret '|' character, because the related view doesn't have a superview V:[self(>=48)]| ^

we are getting this exception for only iOS 15 and above iPhone's users
Please suggest how to fix the issue

"name": "react-native-snackbar",
 "version": "2.2.0",

[2021-10-06 07:20] rvasseur31 commented on #192
Do you have try with version 2.4 of react-native-snackbar ?

[2021-10-07 05:39] San10694 commented on #192
@rvasseur31  yes using that only
"react-native-snackbar": "2.4.0",
our iOS app crash rate suddenly increased to 100% just because of this exception
Please help

[2021-10-09 08:07] iamrohitagg commented on #28
This issue occurs for me only on Android. I am showing a `Modal` as loader for my app and whenever the modal is open, the `SnackBar` does now show.
I had to use timeout for getting it work. Hopefully the issue is resolved in latest build.

[2021-10-11 09:25] mouessam commented on #192
we have the same issue happens with devices where IOS version is 15.0.1 and the  `"react-native-snackbar": "^2.4.0"`,

[code]

[2021-10-19 12:27] PauloMello99 commented on #192
I don't know about native iOS development and if these screenshots will help, but this is the bug report we got.
NOTE: I was unable to reproduce it on iOS 15.0.2

![image](https://user-images.githubusercontent.com/37298546/137908280-f89a7bda-69e1-44b6-9985-c6a96371e797.png)

[This is the part where crashed](https://github.com/cooperka/react-native-snackbar/blob/main/ios/RNSnackBarView.m#L188)

![i

[2021-10-19 13:22] San10694 commented on #192
@PauloMello99
that's the issue, even I am unable to reproduce it, just getting crash logs for other users

[2021-10-20 09:27] iamrohitagg commented on #180
I want to know some similar thing. How can I know if `SnackBar` is closed? I tried to add the function in `onPress` in `action` but what if the SnackBar is dismissed after the duration of `LENGTH_LONG` I have passed to duration.

[2021-11-29 12:04] shahnewaz469 commented on #192
Any update on this issue?

[2021-12-03 07:31] San10694 commented on #192
@rvasseur31 and the community
can we please look inti this crash , this crash had increased our total crash rate, seems very critical.
Thank you in advance

[2021-12-07 10:42] rvasseur31 commented on #192
I would like to know if the crash occurred every times ?
I use my fork and i don't have crash on ios 15, it implement native events on snackbar visibility, if you want to learn more : https://github.com/rvasseur31/react-native-snackbar/tree/feature/callbacks#advanced-usage

in my package.json i use : "react-native-snackbar": "rvasseur31/react-native-snackbar#feature/callbacks".

EDIT : I forgot, i

[2021-12-09 00:16] cooperka commented on #182
Closed by #183

[2021-12-09 00:16] #182 closed, assigned to nobody

[2021-12-15 09:08] Rushabhgedam commented on #43
manual linking also needs to be documented for iOS in readme,
I did pod install by adding this one `pod 'RNSnackbar', :path => '../node_modules/react-native-snackbar/RNSnackbar.podspec'`
works like charm for me

[2022-02-18 00:23] vijaemanlapaz opened #194 "[Test] Cannot read property 'LENGTH_LONG' of undefined"
I'm getting error **_Cannot read property 'LENGTH_LONG' of undefined_** when i do `yarn test`
i'm using version **2.4.0**

Environment
react-native: 0.65.2 => 0.65.2

Steps i did so far
- yarn clean
- yarn install
- npx react-native link react-native-snackbar

[2022-02-18 00:26] vijaemanlapaz commented on #162
+1

[2022-03-08 07:13] viral-synoverge commented on #194
how to resolve this ? any one able to find the solution ?

[2022-03-10 17:30] keeslinp commented on #162
For what it is worth, the material docs specifically call out that you shouldn't do this.

```Don’t use icons in snackbars. If your message needs an icon, consider using a different component.```

[docs link](https://material.io/components/snackbars#anatomy)

[2022-03-18 21:08] joseananio commented on #194
see this issue: https://github.com/cooperka/react-native-snackbar/issues/43.
its on regular usage but you might find something

Also ensure your pods are installed `(RNSnackbar (2.4.0))`.

[2022-03-24 21:30] atul898 commented on #194
I am getting a similar message - "Cannot read **properties** of undefined (reading 'LENGTH_LONG')"
Functionality is all good, this issue is specific to when running tests
We are on React Native "0.67.2", using "2.4.0" of react-native-snackbar
Already went through issue #43 and tried everything.

[2022-03-27 13:31] #123 closed, assigned to nobody

[2022-04-06 19:54] TimCatana commented on #84
hello, I see that this thread is old. Skimming through the documentation, I was thinking that it would be better to have an option that allows the developer to adjust the width of the snackbar, rather than having a fixed width. I personally would prefer that the snackbar take up the entire width if the screen no matter the size.

Thinking about it, this shouldn't be difficult to implement. Rather

[2022-04-19 02:07] pe-johndpope commented on #192
this is a pain for ios users - I'm seeing > 100 new crashes.

when this exception is thrown - maybe we can simply  wrap it in a try catch ?
DRAFTED FIX -
https://github.com/cooperka/react-native-snackbar/pull/196

WORK IN PROGRESS (untested)
[code]

UPDATE

hitting a wall with this error
[code]

[2022-04-19 21:45] cooperka commented on #192
hi @pe-johndpope, in order to use your snackbar fork you'll need to compile and commit the `lib` directory of this library. you can do that by editing `.gitignore`, running `yarn run build`, and committing `lib`. let me know if that works for you!

as [noted on your PR](https://github.com/cooperka/react-native-snackbar/pull/196#issuecomment-1103198638), I can't accept the change as-is, but if the

[2022-04-19 21:49] cooperka commented on #84
thanks @TimCatana, sure I would accept a change like that for iOS!

[2022-04-19 22:07] johndpope commented on #192
I resolved the missing lib- thx.
I’m  still testing this.

UPDATE
Crashes are gone with this fix.

I suspect this is occurring with view controllers  that’s been or being popped. (Your specific edge case where you want to fail hard if there’s button on snack bar you could test for. If there’s no button then don’t crash. Keep in mind that majority of people won’t have this setup and the crash is im

[2022-05-19 12:43] pe-johndpope opened #197 "enhancement - make this 48 height dynamic"
self = [super initWithFrame:CGRectMake(0, [UIScreen mainScreen].bounds.size.height - 48,
                                           [UIScreen mainScreen].bounds.size.width, 48)];

it's too short for my use case - I don't mind the distance to come up higher.

<img width="335" alt="Screen Shot 2022-05-19 at 10 42 23 pm" src="https://user-images.githubusercontent.com/99936109/169295828-20682138-363f-

[2022-06-10 11:53] tarouboy commented on #192
I am receiving the crash reports as well but I couldn't reproduce it from simulators or devices with iOS 15, with or without action button.

Can anyone reproduce the crash?

[2022-06-11 09:45] GewoonJaap commented on #194
Same issue here, works fine when using the app, however once I run Jest it will fail. Already added the package to Jest `transformIgnorePatterns`, without result

[2022-06-12 23:59] johndpope commented on #192
this branch is working for me -

[code]
I saw this the other day - maybe nice alternative
https://docs.nativebase.io/toast

[2022-07-04 11:37] nikita-fuchs commented on #157
I have the exact same issue on desktop:

[code]
it appears for a brief millisecond and disappears again immediately.

[2022-08-08 11:26] vijaychouhan-rails commented on #190
@alenseferovic1

Snackbar.show({
      text: message,
      duration: duration,
      numberOfLines: 4, //Add number of line max you can
      backgroundColor: isError ? colors.danger : colors.black,
      action: {
        text: i18n.t('btn.close', {language: i18n.currentLocale()}),
        textColor: colors.yellow,
        onPress: Snackbar.dismiss,
      },
    });

[2022-09-13 18:25] AdityaPahilwani commented on #192
@cooperka
current the lib access `UIWindow` access by
`UIWindow *keyWindow = [UIApplication sharedApplication].keyWindow;`
and was deprecated in ios 15 can return nil https://developer.apple.com/forums/thread/695932
and when I debugged this and passed
`UIWindow *keyWindow = nil;`
it threw the exact error
`Unable to parse constraint format: Unable to interpret '|' character, because the related vie

[2022-09-13 23:24] johndpope commented on #192
Can you try this? I pushed to my main fork - (hopefully doesn't break things)
` UIWindow* keyWindow = [[[UIApplication sharedApplication] windows] lastObject];`

[code]

[2022-09-18 10:10] ZeeshanAhmadKhalil commented on #194
I was getting this issue, uninstalling app, closing metro server and running app again worked for me.

[2022-10-08 08:11] AdityaPahilwani commented on #192
@johndpope we managed to solve the issue by accessing the UIWindow by
`UIWindow *keyWindow = [[UIApplication sharedApplication] delegate].window;`

Opened a PR for the same
https://github.com/cooperka/react-native-snackbar/pull/198